<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="@ViewData["Keywords"]" />
    <meta name="description" content="@ViewData["Description"]" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/css/MyStyleSheet.css" />
    <link rel="stylesheet" type="text/css" href="~/css/fotorama.css" />
    <link href="https://fonts.googleapis.com/css?family=Gabriela&display=swap&subset=cyrillic" rel="stylesheet">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="top-hat">
        <div class="top-pic">
            @switch (@ViewBag.TopPic)
            {
                case "boats":
                    <div>
                        <img src="~/images/узкие/Лодки/парусные-коллаж-на300-2.jpg" />
                    </div>
                    break;
                case "boatsrow":
                    <div>
                        <img src="~/images/узкие/Лодки/фофан гребной-обр-на300.jpg" />
                    </div>
                    break;
                case "boatssail":
                    <div>
                        <img src="~/images/узкие/Лодки/АС-15-на300.jpg" />
                    </div>
                    break;
                case "boatstraditional":
                    <div>
                        <img src="~/images/узкие/Лодки/Сойма-2-короткий-обр-на300.jpg" />
                    </div>
                    break;
                case "bigboats":
                    <div>
                        <img src="~/images/узкие/Шлюпки/вельбот-и-катер-на300-горнизонт.jpg" />
                    </div>
                    break;
                case "boatsyal":
                    <div>
                        <img src="~/images/узкие/Шлюпки/Ял-6-на300-круть.jpg" />
                    </div>
                    break;
                case "botiks":
                    <div>
                        <img src="~/images/узкие/Шлюпки/Ботик-обработ-на300.jpg" />
                    </div>
                    break;
                case "katerrows":
                    <div>
                        <img src="~/images/узкие/Шлюпки/вельбот-корот-на300.jpg" />
                    </div>
                    break;
                case "katera":
                    <div>
                        <img src="~/images/узкие/Катера/все-катера-на300.jpg" />
                    </div>
                    break;
                case "motosailers":
                    <div>
                        <img src="~/images/узкие/Катера/АС-49-на300.jpg" />
                    </div>
                    break;
                case "katerkabins":
                    <div>
                        <img src="~/images/узкие/Катера/ГР-30Т-2-на300.jpg" />
                    </div>
                    break;
                case "katersfishing":
                    <div>
                        <img src="~/images/узкие/Катера/студент-обр-2-на300-2.jpg" />
                    </div>
                    break;
                case "katerspassanger":
                    <div>
                        <img src="~/images/узкие/Катера/АС-40.1-на300.jpg" />
                    </div>
                    break;
                case "ladiy":
                    <div style="display:none">
                        <img src="~/images/узкие/Ладьи/ладьи-общая.jpg" />
                    </div>
                    <div>
                        <img src="~/images/узкие/Ладьи/ладьи-общая2.jpg" />
                    </div>
                    break;
                case "ladyassailrow":
                    <div style="display:none">
                        <img src="~/images/узкие/Ладьи/АС-23-на300.jpg" />
                    </div>
                    <div>
                        <img src="~/images/узкие/Ладьи/Петина_ладья50-помельче.jpg" />
                    </div>
                    <div style="display:none">
                        <img src="~/images/узкие/Ладьи/Петина_ладья50.jpg" />
                    </div>
                    break;
                case "ladyassailmotor":
                    <div>
                        <img src="~/images/узкие/Ладьи/АС-38-обр-на300.jpg" />
                    </div>
                    break;
                case "sailboats":
                    <div>
                        <img src="~/images/узкие/Парусники/ГР-58-на300.jpg">
                    </div>
                    break;
                case "yachts":
                    <div>
                        <img src="~/images/узкие/Парусники/АС-36-на300.jpg">
                    </div>
                    break;
                case "svertbots":
                    <div>
                        <img src="~/images/узкие/Парусники/АС-22MS-на300.jpg">
                    </div>
                    break;
                case "sailboatsstudy":
                    <div>
                        <img src="~/images/узкие/Парусники/АС-47-обр-на300.jpg">
                    </div>
                    <div style="display:none">
                        <img src="~/images/узкие/Парусники/АС-47-с-водой-обр-на300.jpg">
                    </div>
                    break;
                case "sailboatshistorical":
                    <div>
                        <img src="~/images/узкие/Парусники/якуцк-обр-на300.jpg">
                    </div>
                    break;
                case "makets":
                    <div>
                        <img src="~/images/узкие/Макеты/гото-предистинация.jpg" />
                    </div>
                    <div style="display:none">
                        <img src="~/images/узкие/Макеты/хорнблауер.jpg" />
                    </div>
                    <div style="display:none">
                        <img src="~/images/узкие/Макеты/крузенштерн коллаж.jpg" />
                    </div>
                    break;
                case "maketsstudy":
                    <div style="display:none">
                        <img src="~/images/узкие/Макеты/ял-макет.jpg" />
                    </div>
                    <div>
                        <img src="~/images/узкие/Шлюпки/Учебные-пособия-коллаж.jpg" />
                    </div>
                    break;
                case "maketscinema":
                    <div>
                        <img src="~/images/узкие/Макеты/крузенштерн коллаж-2.jpg" />
                    </div>
                    <div style="display:none">
                        <img src="~/images/узкие/Макеты/крузенштерн коллаж.jpg" />
                    </div>
                    <div style="display:none">
                        <img src="~/images/узкие/Макеты/хорнблауер-2.jpg" />
                    </div>
                    <div style="display:none">
                        <img src="~/images/узкие/Макеты/хорнблауер.jpg" />
                    </div>
                    break;
                case "maketsmuseum":
                    <div>
                        <img src="~/images/узкие/Макеты/гото-предистинация.jpg" />
                    </div>
                    <div style="display:none">
                        <img src="~/images/узкие/Макеты/выборг-коллаж.jpg" />
                    </div>
                    <div style="display:none">
                        <img src="~/images/узкие/Макеты/выборг.jpg" />
                    </div>
                    break;
                default:
                    <div class="longUpFoto">
                        <img src="~/images/Надверхняя-строка-на150.jpg" />
                    </div>
                    <div class="shortUpFoto">
                        <img src="~/images/Надверхняя-строка-на150-коротк.jpg" />
                    </div>
                    break;
            }
        </div>
        <div class="veryShortUpFoto">
            <img src="~/images/Надверхняя-строка-на150-оч-коротк.jpg" />
        </div>
    </div>
    <div id="header" class="header">
        <div id="nav-top" class="nav-top">
            <div id="ships-catalog" class="nav-element-top">
                <div class="nav-element-inside">
                    КАТАЛОГ
                </div>
            </div>
            <div id="cinema" class="nav-element-top">
                <div class="nav-element-inside">
                    <span class="shorterMenu">ЗАКАЗЫ </span>ДЛЯ КИНО
                </div>
            </div>
            <div id="goto-pred" class="nav-element-top">
                <div class="nav-element-inside">
                    <a href="/"><span class="shorterMenu">КОРАБЛЬ-МУЗЕЙ </span>ГОТО-ПРЕДИСТИНАЦИЯ</a>
                </div>
            </div>
            <div id="museum" class="nav-element-top">
                <div class="nav-element-inside">
                    <a href="/">МУЗЕЙ</a>
                </div>
            </div>
            <div id="aboutUs" class="nav-element-top">
                <div class="nav-element-inside">
                    <a href="/">О НАС</a>
                </div>
            </div>
            <div id="contacts" class="nav-element-top">
                <div class="nav-element-inside">
                    <a href="../../О_нас/О_нашей_верфи#ourContacts">КОНТАКТЫ</a>
                </div>
            </div>
        </div>
        <div id="menu-nav-top" class="menu-nav-top">
            <div id=catalog class=category style="display:none">
                <div id=boatsTopNav class=menu-top-element>
                    <a asp-action="Boats" asp-controller="Catalog"><div class=topNavTopCategory>Лодки</div></a>
                    <a asp-action="BoatsRow" asp-controller="Catalog"><div class=topNavCategory>Прогулочные гребные</div></a>
                    <a asp-action="BoatsSail" asp-controller="Catalog"><div class=topNavCategory>Прогулочные парусные</div></a>
                    <a asp-action="BoatsTraditional" asp-controller="Catalog"><div class=topNavCategory>Народные</div></a>
                </div>
                <div id=bigboatsTopNav class=menu-top-element>
                    <a asp-action="Bigboats" asp-controller="Catalog"><div class=topNavTopCategory>Шлюпки</div></a>
                    <a asp-action="BoatsYal" asp-controller="Catalog"><div class=topNavCategory>Ял-6,Ял-4,Ял-2</div></a>
                    <a asp-action="KaterRows" asp-controller="Catalog"><div class=topNavCategory>Гребные катера<br />и вельботы</div></a>
                    <a asp-action="Botiks" asp-controller="Catalog"><div class=topNavCategory>Ботики</div></a>
                    <a asp-action="MaketsStudy" asp-controller="Catalog"><div class=topNavCategory>Учебные пособия</div></a>
                </div>
                <div id=katersTopNav class=menu-top-element>
                    <a asp-action="Motorboats" asp-controller="Catalog"><div class=topNavTopCategory>Катера</div></a>
                    <a asp-action="Motosailers" asp-controller="Catalog"><div class=topNavCategory>Мотосейлеры</div></a>
                    <a asp-action="KaterKabins" asp-controller="Catalog"><div class=topNavCategory>Каютные</div></a>
                    <a asp-action="KatersFishing" asp-controller="Catalog"><div class=topNavCategory>Рабочие/Рыболовные</div></a>
                    <a asp-action="KatersPassanger" asp-controller="Catalog"><div class=topNavCategory>Пассажирские</div></a>
                </div>
                <div id=ladiyTopNav class=menu-top-element>
                    <a asp-action="Ladiy" asp-controller="Catalog"><div class=topNavTopCategory>Ладьи</div></a>
                    <a asp-action="LadyasSailRow" asp-controller="Catalog"><div class=topNavCategory>Парусно-гребные</div></a>
                    <a asp-action="LadyasSailMotor" asp-controller="Catalog"><div class=topNavCategory>Парусно-моторные</div></a>
                </div>
                <div id=sailboatsTopNav class=menu-top-element>
                    <a asp-action="Sailboats" asp-controller="Catalog"><div class=topNavTopCategory>Парусники</div></a>
                    <a asp-action="Yachts" asp-controller="Catalog"><div class=topNavCategory>Парусные яхты</div></a>
                    <a asp-action="Svertbots" asp-controller="Catalog"><div class=topNavCategory>Швертботы</div></a>
                    <a asp-action="SailboatsStudy" asp-controller="Catalog"><div class=topNavCategory>Учебные</div></a>
                    <a asp-action="SailboatsHistorical" asp-controller="Catalog"><div class=topNavCategory>Исторические</div></a>
                </div>
                <div id=maketsTopNav class=menu-top-element>
                    <a asp-action="Models" asp-controller="Catalog"><div class=topNavTopCategory>Разное</div></a>
                </div>
            </div>
            <div id=cinemaOrders class=category>
                <a asp-action=><div class=topNavCategory>Судно &quot;Якуцк&quot; для фильма &quot;Первые&quot;</div></a>
                <a asp-action=><div class=topNavCategory>Модели для фильма &quot;Капитан Хорнблауер&quot;</div></a>
                <a asp-action=><div class=topNavCategory>Шхуна &quot;Святой Петр&quot;</div></a>
                <a asp-action=><div class=topNavCategory>Модель барка &quot;Крузенштерн&quot;</div></a>
                <a asp-action=><div class=topNavCategory>Драккары для г.Выборг</div></a>
                <a asp-action=><div class=topNavCategory>Корабль-музей &quot;Гото Предистинация&quot;</div></a>
            </div>
            <div id=aboutUsTopNav class=category>
                <a asp-action="Index" asp-controller="About"><div id=aboutUsTopNav class=topNavCategory>О нашей верфи</div></a>
                <a href=><div id=aboutUsTopNav class=topNavCategory>О нашем производстве</div></a>
                <a asp-action="AllNews" asp-controller="About"><div id=aboutUsTopNav class=topNavCategory>Наши новости</div></a>
                <a asp-action="AllNews" asp-controller="About" asp-route-newsType="smi"><div id=aboutUsTopNav class=topNavCategory>СМИ о нас</div></a>
                <a asp-action="AllNews" asp-controller="About" asp-route-newsType="life"><div id=aboutUsTopNav class=topNavCategory>Из жизни наших кораблей</div></a>
                <a id=aboutUsTopNav class=aboutUsGoto style="display:none"><div class=topNavCategory>Корабль-Музей Гото Предистинация</div></a>
                <a id=aboutUsTopNav class=aboutUsMuseum style="display:none"><div class=topNavCategory>Музей</div></a>
            </div>
        </div>
    </div>
    <partial name="_CookieConsentPartial" />
    @RenderBody()
    <footer class="footer">
        <div class="aboutSite">
            <div class="logo">
                <img src="~/images/лого-кораблик-с-текстом-белый-жирный.png" style="height:237px" />
                <img src="~/images/лого-кораблик-с-текстом-еще-пожирней.png" style="display:none;height:237px" />
                <img src="~/images/лого-кораблик-с-текстом-светлосиний.png" style="display:none;height:237px" />
                <img src="~/images/лого-кораблик-с-текстом-светло-светлосиний.png" style="display:none;height:237px" />
                @*<img src="~/images/лого-кораблик-с-текстом.png" style="height:237px;width:auto" />*@
                <img src="~/images/лого-кораблик-с-текстом.png" style="display:none;height:200px;width:auto" />
            </div>
            <div class="socialNetworks">
                <div style="font-size:1.4rem">
                    НАШИ СОЦСЕТИ:
                </div>
                <div class="socialVidgets">
                    @*<div id="vk_groups"></div>*@
                    @*<div style="height:200px;margin-right:1vw"></div>*@
                    @*<div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs=""
                        data-width="200" data-height="200" data-small-header="true"
                        data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/facebook">Facebook</a></blockquote>
                </div>*@
                </div>
                <div class="socialButtons">
                    <a href="https://vk.com/shipyard_varyag">
                        <img src="~/images/vkont.png" />
                    </a>
                    <a href="https://vk.com/shipyard_varyag">
                        <img src="~/images/insta.png" />
                    </a>
                    @*<a href="https://vk.com/shipyard_varyag">
                    <img src="~/images/pinter.png" />
                </a>*@
                    <a href="https://vk.com/shipyard_varyag">
                        <img src="~/images/youtube.png" />
                    </a>
                </div>
            </div>
            <div class="footerContactsLong">
                <p>
                    Связаться с нами можно по:<br />
                    электронной почте&nbsp;- varyag@onego.ru<br />
                    или по телефону&nbsp;- +7&nbsp;814&nbsp;273&nbsp;35&nbsp;80
                </p>
            </div>
            <div class="footerContactsLong">
                <p>
                    Наш адрес: г.&nbsp;Петрозаводск ул.&nbsp;Онежской флотилии, д.&nbsp;43,
                    заезд с переулка спасателей.
                </p>
            </div>
            <div class="footerContactsShort">
                <p>
                    г.&nbsp;Петрозаводск ул.&nbsp;Онежской флотилии, д.&nbsp;43<br />
                    varyag@onego.ru<br />
                    +7&nbsp;814&nbsp;273&nbsp;35&nbsp;80
                </p>
            </div>
            <div class="footerMap">
                <img src="~/images/Карта_286х237.png" width="286" height="237" style="max-width:initial" />
                <img src="~/images/Варяг_30-10-2019_18-08-23.png" width="286" height="237" style="max-width:initial;display:none" />
            </div>
        </div>
        <div class="aboutMe">
            Разработчик сайта - Михаил Мартюков.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/fotorama.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=a93c2bc3-57dc-4ed5-90f0-419606ca819a&lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?162"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v5.0"></script>
    <script src="~/js/top-nav.js"></script>
    @*<script src="~/js/site.js"></script>*@
    @RenderSection("Scripts", required: false)
</body>
</html>