<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="@ViewData["Keywords"]" />
    <meta name="description"  content="@ViewData["Description"]"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/css/MyStyleSheet.css" />
    <link rel="stylesheet" type="text/css" href="~/css/fotorama.css" />
    <link href="https://fonts.googleapis.com/css?family=Gabriela&display=swap&subset=cyrillic" rel="stylesheet">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="MyContainer" id="main">
        <div class="top-hat">
            <div class="top-pic">
                @switch (@ViewBag.TopPic)
                {
                    case "sailboats":
                        <div style="display:none">
                            <img src="~/images/узкие/Парусники/Аскольд-28.jpg">
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Парусники/Аскольд-28_1.jpg">
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Парусники/Аскольд-39.jpg">
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Парусники/Аскольд-48.jpg">
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Парусники/Аскольд-49.jpg">
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Парусники/Аскольд-58.jpg">
                        </div>
                        break;
                    case "boats":
                        <div style="display:none">
                            <img src="~/images/узкие/Лодки/Аскольд-14_1.jpg" />
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Лодки/Аскольд-14_2.jpg" />
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Лодки/Аскольд-15_1.jpg" />
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Лодки/Аскольд-15_2.jpg" />
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Лодки/Сойма.jpg" />
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Лодки/Фофан.jpg" />
                        </div>
                        break;
                    case "bigboats":
                        <div style="display:none">
                            <img src="~/images/узкие/Шлюпки/14-весельный катер_1.jpg" />
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Шлюпки/14-весельный катер_2.jpg" />
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Шлюпки/14-весельный катер_3.jpg" /> 
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Шлюпки/14-весельный катер_4.jpg" />
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Шлюпки/14-весельный катер_5.jpg" /> 
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Шлюпки/Ботик.jpg" />
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Шлюпки/Ботик_1.jpg" />
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Шлюпки/ЯЛ6.jpg" />
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Шлюпки/ЯЛ6_1.jpg" />
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Шлюпки/ЯЛ6_2.jpg" />
                        </div>
                        break;
                    case "ladiy":
                        <div style="display:none">
                            <img src="~/images/узкие/Ладьи/Аскольд-38_1.jpg" />
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Ладьи/Аскольд-38_2.jpg" />
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Ладьи/Аскольд-38_3.jpg" />
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Ладьи/Аскольд-38_4.jpg" />
                        </div>
                        break;
                    case "katera":
                        <div style="display:none">
                            <img src="~/images/узкие/Катера/Аскольд-18.jpg" />
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Катера/Аскольд-26.jpg" />
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Катера/Аскольд-40.1.jpg" />
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Катера/Аскольд-40.5.jpg" />
                        </div>
                        break;
                    case "general":
                        <div style="display:none">
                            <img src="~/images/узкие/Макеты/Макет Ял6_1.jpg" />
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Макеты/Макет Ял6_2.jpg" />
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Макеты/Макет Ял6_3.jpg" />
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Макеты/Макет Ял6_4.jpg" />
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Макеты/макет.jpg" />
                        </div>
                        break;
                    default:
                        break;
                }
            </div>
            @if (@ViewBag.TopPic != "details")
            {
                <div class="logo" id="top-left">
                    <img src="~/images/icons/Логотип для вставки с текстом.png">
                </div>
                <div class="shortLogo" id="top-left">
                    <img src="~/images/icons/Логотип для вставки малый.png">
                </div>
                <div id="top-right" class="contacts" style="display:none">
                    <img src="~/images/icons/контакты2.png">
                </div>
                <div id="top-right2" class="contacts">
                    <img src="~/images/icons/контакты тройные.png">
                </div>
            }
        </div>
        
        <div id="header" class="header">
            <div id="nav-top" class="nav-top">
                <div id="mobileShips-Catalog" class="nav-element-top">
                    <div class="nav-element-inside">
                        КАТАЛОГ
                    </div>
                </div>
                <div id="ships-catalog" class="nav-element-top">
                    <div class="nav-element-inside">
                        <a href="/">КАТАЛОГ</a>
                    </div>
                </div>
                <div id="news" class="nav-element-top">
                    <div class="nav-element-inside">
                        <a href="/">НАШИ НОВОСТИ</a>
                    </div>
                </div>
                <div id="SMI" class="nav-element-top">
                    <div class="nav-element-inside">
                        <a href="/">МЫ В СМИ</a>
                    </div>
                </div>
                <div id="mobileAbout" class="nav-element-top">
                    <div class="nav-element-inside">
                        О НАС
                    </div>
                </div>
                <div id="about" class="nav-element-top">
                    <div class="nav-element-inside">
                        <a href="">О НАС</a>
                    </div>
                </div>
                <div id="contacts" class="nav-element-top">
                    <div class="nav-element-inside">
                        <a href="/">КОНТАКТЫ</a>
                    </div>
                </div>
                <div id="turism" class="nav-element-top">
                    <div class="nav-element-inside">
                        <a href="/">ТУРИЗМ</a>
                    </div>
                </div>
                <div id="Goto-Pred" class="nav-element-top" style="border-right:ridge">
                    <div class="nav-element-inside">
                        <div>
                            <input id="cat" type="number" value="0" hidden />
                            <input id="new" type="number" value="0" hidden />
                            <input id="srmin" type="number" value="0" hidden />
                            <input id="abus" type="number" value="0" hidden />
                            <input id="con" type="number" value="0" hidden />
                        </div>
                        <a href="/">ГОТО-ПРЕДИСТИНАЦИЯ</a>
                    </div>
                </div>
            </div>
            <div id="menu-nav-top" class="menu-nav-top"></div>
        </div>


        <partial name="_CookieConsentPartial" />
        @RenderBody()

        <footer class="footer">
            <div>
                &copy; 2019 - Varyag - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/fotorama.js"></script>
    <script src="~/js/top-nav.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
