<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="@ViewData["Keywords"]" />
    <meta name="description" content="@ViewData["Description"]" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/css/MyStyleSheet.css" />
    <link rel="stylesheet" type="text/css" href="~/css/fotorama.css" />
    <link href="https://fonts.googleapis.com/css?family=Gabriela&display=swap&subset=cyrillic" rel="stylesheet">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="top-hat">
        @*<div>Верфь деревянного судостроения "Варяг"</div>*@
        <div class="top-pic">
            @switch (@ViewBag.TopPic)
            {
                case "boats":
                    <div>
                        <img src="~/images/узкие/Лодки/парусные-коллаж-на300-2.jpg" />
                    </div>
                    break;
                case "boatsrow":
                    <div>
                        <img src="~/images/узкие/Лодки/фофан гребной-обр-на300.jpg" />
                    </div>
                    break;
                case "boatssail":
                    <div>
                        <img src="~/images/узкие/Лодки/АС-15-на300.jpg" />
                    </div>
                    break;
                case "boatstraditional":
                    <div>
                        <img src="~/images/узкие/Лодки/Сойма-2-короткий-обр-на300.jpg" />
                    </div>
                    break;
                case "bigboats":
                    <div>
                        <img src="~/images/узкие/Шлюпки/вельбот-и-катер-на300-горнизонт.jpg" />
                    </div>
                    break;
                case "boatsyal":
                    <div>
                        <img src="~/images/узкие/Шлюпки/Ял-6-на300-круть.jpg" />
                    </div>
                    break;
                case "botiks":
                    <div>
                        <img src="~/images/узкие/Шлюпки/Ботик-обработ-на300.jpg" />
                    </div>
                    break;
                case "katerrows":
                    <div>
                        <img src="~/images/узкие/Шлюпки/вельбот-корот-на300.jpg" />
                    </div>
                    break;
                case "katera":
                    <div>
                        <img src="~/images/узкие/Катера/все-катера-на300.jpg" />
                    </div>
                    break;
                case "motosailers":
                    <div>
                        <img src="~/images/узкие/Катера/АС-49-на300.jpg" />
                    </div>
                    break;
                case "katerkabins":
                    <div>
                        <img src="~/images/узкие/Катера/ГР-30Т-2-на300.jpg" />
                    </div>
                    break;
                case "katersfishing":
                    <div>
                        <img src="~/images/узкие/Катера/студент-обр-2-на300-2.jpg" />
                    </div>
                    break;
                case "katerspassanger":
                    <div>
                        <img src="~/images/узкие/Катера/АС-40.1-на300.jpg" />
                    </div>
                    break;
                case "katerprojects":
                    <div>
                        <img src="~/images/узкие/Катера/Проект.jpg" />
                    </div>
                    <div style="display:none">
                        <img src="~/images/узкие/Катера/катер-проект-коллаж.jpg" />
                    </div>
                    break;
                case "ladiy":
                    <div>
                        <img src="~/images/узкие/Ладьи/ладьи-общая.jpg" />
                    </div>
                    break;
                case "ladyassailrow":
                    <div>
                        <img src="~/images/узкие/Ладьи/АС-23-на300.jpg" />
                    </div>
                    break;
                case "ladyassailmotor":
                    <div>
                        <img src="~/images/узкие/Ладьи/АС-38-обр-на300.jpg" />
                    </div>
                    break;
                case "ladyaprojects":
                    <div>
                        <img src="~/images/узкие/Ладьи/Русич-обр-2-на300-истин2.jpg" />
                    </div>
                    <div style="display:none">
                        <img src="~/images/узкие/Ладьи/Русич-обр-3-на300.jpg" />
                    </div>
                    <div style="display:none">
                        <img src="~/images/узкие/Ладьи/Русич-обр-на300-истинный.jpg" />
                    </div>
                    break;
                case "sailboats":
                    <div>
                        <img src="~/images/узкие/Парусники/ГР-58-на300.jpg">
                    </div>
                    <div style="display:none">
                        <img src="~/images/узкие/Парусники/якуцк-обр-на300.jpg">
                    </div>
                    break;
                case "yachts":
                    <div>
                        <img src="~/images/узкие/Парусники/ГР-31-на300.jpg">
                    </div>
                    <div style="display:none">
                        <img src="~/images/узкие/Парусники/АС-36-на300.jpg">
                    </div>
                    <div style="display:none">
                        <img src="~/images/узкие/Парусники/АС-49-на300.jpg">
                    </div>
                    break;
                case "svertbots":
                    <div>
                        <img src="~/images/узкие/Парусники/АС-22MS-на300.jpg">
                    </div>
                    break;
                case "sailboatsstudy":
                    <div>
                        <img src="~/images/узкие/Парусники/АС-39-обр-на300.jpg">
                    </div>
                    <div style="display:none">
                        <img src="~/images/узкие/Парусники/якуцк-2-обр-на300.jpg">
                    </div>
                    <div style="display:none">
                        <img src="~/images/узкие/Парусники/якуцк-3-обр-на300.jpg">
                    </div>
                    <div style="display:none">
                        <img src="~/images/узкие/Парусники/якуцк-4-обр-на300.jpg">
                    </div>
                    <div style="display:none">
                        <img src="~/images/узкие/Парусники/якуцк-на300-2.jpg">
                    </div>
                    <div style="display:none">
                        <img src="~/images/узкие/Парусники/якуцк-обр-на300.jpg">
                    </div>
                    break;
                case "sailboatshistorical":
                    <div>
                        <img src="~/images/узкие/Парусники/ГР-58-на300.jpg">
                    </div>
                    break;
                case "sailboatsprojects":
                    <div>
                        <img src="~/images/узкие/Парусники/проект.jpg">
                    </div>
                    <div style="display:none">
                        <img src="~/images/узкие/Парусники/проект2.jpg">
                    </div>
                    break;
                case "makets":
                    <div>
                        <img src="~/images/узкие/Макеты/гото-предистинация.jpg" />
                    </div>
                    <div style="display:none">
                        <img src="~/images/узкие/Макеты/хорнблауер.jpg" />
                    </div>
                    <div style="display:none">
                        <img src="~/images/узкие/Макеты/крузенштерн коллаж.jpg" />
                    </div>
                    break;
                case "maketsstudy":
                    <div>
                        <img src="~/images/узкие/Макеты/ял-макет.jpg" />
                    </div>
                    break;
                case "maketscinema":
                    <div>
                        <img src="~/images/узкие/Макеты/крузенштерн коллаж-2.jpg" />
                    </div>
                    <div style="display:none">
                        <img src="~/images/узкие/Макеты/крузенштерн коллаж.jpg" />
                    </div>
                    <div style="display:none">
                        <img src="~/images/узкие/Макеты/хорнблауер-2.jpg" />
                    </div>
                    <div style="display:none">
                        <img src="~/images/узкие/Макеты/хорнблауер.jpg" />
                    </div>
                    break;
                case "maketsmuseum":
                    <div>
                        <img src="~/images/узкие/Макеты/гото-предистинация.jpg" />
                    </div>
                    <div style="display:none">
                        <img src="~/images/узкие/Макеты/выборг-коллаж.jpg" />
                    </div>
                    <div style="display:none">
                        <img src="~/images/узкие/Макеты/выборг.jpg" />
                    </div>
                    break;
                default:
                    break;
            }
        </div>
    </div>
    <div id="header" class="header">
        <div id="nav-top" class="nav-top">
            <div id="ships-catalog" class="nav-element-top">
                <div class="nav-element-inside">
                    КАТАЛОГ
                </div>
            </div>
            <div id="cinema" class="nav-element-top">
                <div class="nav-element-inside">
                    <span class="shorterMenu">ЗАКАЗЫ </span>ДЛЯ КИНО
                </div>
            </div>
            <div id="goto-pred" class="nav-element-top">
                <div class="nav-element-inside">
                    <div>
                        <input id="cat" type="number" value="0" hidden />
                        <input id="cin" type="number" value="0" hidden />
                        <input id="abUs" type="number" value="0" hidden />
                    </div>
                    <a href="/"><span class="shorterMenu">КОРАБЛЬ-МУЗЕЙ </span>ГОТО-ПРЕДИСТИНАЦИЯ</a>
                </div>
            </div>
            <div id="museum" class="nav-element-top">
                <div class="nav-element-inside">
                    <a href="/">МУЗЕЙ</a>
                </div>
            </div>
            <div id="aboutUs" class="nav-element-top">
                <div class="nav-element-inside">
                    <a href="/">О НАС</a>
                </div>
            </div>
            <div id="contacts" class="nav-element-top">
                <div class="nav-element-inside">
                    <a href="../../about/AboutUs#ourContacts">КОНТАКТЫ</a>
                </div>
            </div>
        </div>
        <div id="menu-nav-top" class="menu-nav-top">
            
        </div>
    </div>
    <partial name="_CookieConsentPartial" />

    @RenderBody()
    <footer class="footer">
        <div class="aboutSite">
            <div class="logo">
                @*<img src="~/images/icons/Логотип для вставки малый.png" />*@
                <img src="~/images/лого-кораблик-2.png" style="display:none" />
                <img src="~/images/лого-кораблик-с-текстом.png" style="height:237px;width:auto" />
            </div>
            <div class="socialNetworks">
                <div>
                    НАШИ СОЦСЕТИ:
                </div>
                <div class="socialVidgets">
                    <div id="vk_groups"></div>
                    @*<div style="height:200px;margin-right:1vw"></div>
                    <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs=""
                     data-width="200" data-height="200" data-small-header="true"
                     data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/facebook">Facebook</a></blockquote>
                </div>*@
                </div>
                <div class="socialButtons">
                    <a href="https://vk.com/shipyard_varyag">
                        <img src="~/images/vk_icon-icons.com_66681.png" />
                    </a>
                </div>
            </div>
            <div class="footerContactsLong">
                <p>
                    Наш адрес: г.&nbsp;Петрозаводск ул.&nbsp;Онежской флотилии, д.&nbsp;43,
                    заезд с переулка спасателей.<br /><br />
                    Связаться с нами можно по:<br />
                    электронной почте&nbsp;- varyag@onego.ru<br />
                    или по телефону&nbsp;- +7&nbsp;814&nbsp;273&nbsp;35&nbsp;80
                </p>
            </div>
            <div class="footerContactsShort">
                <p>
                    г.&nbsp;Петрозаводск ул.&nbsp;Онежской флотилии, д.&nbsp;43<br />
                    varyag@onego.ru<br />
                    +7&nbsp;814&nbsp;273&nbsp;35&nbsp;80
                </p>
            </div>
            <div class="footerMap">
                <img src="~/images/Варяг_30-10-2019_18-08-23.png" width="286" height="237" />
            </div>
        </div>
        <div class="aboutMe">
            Разработчик сайта - Михаил Мартюков.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/fotorama.js"></script>
    <script src="~/js/top-nav.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=a93c2bc3-57dc-4ed5-90f0-419606ca819a&lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?162"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v5.0"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>