<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="@ViewData["Keywords"]" />
    <meta name="description" content="@ViewData["Description"]" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/css/MyStyleSheet.css" />
    <link rel="stylesheet" type="text/css" href="~/css/fotorama.css" />
    <link href="https://fonts.googleapis.com/css?family=Gabriela&display=swap&subset=cyrillic" rel="stylesheet">
    <title>@ViewData["Title"]</title>
</head>
<body style="background-color:#eceef1">
    <div class="top-hat" style="display:none">
        @*<div class="top-pic">
                @switch (@ViewBag.TopPic)
                {
                    case "boats":
                        <div style="display:none">
                            <img src="~/images/узкие/Лодки/парусные-коллаж-на300-2.jpg" />
                        </div>
                        break;
                    case "boatsrow":
                        <div>
                            <img src="~/images/узкие/Лодки/фофан гребной-обр-на300.jpg" />
                        </div>
                        break;
                    case "boatssail":
                        <div>
                            <img src="~/images/узкие/Лодки/АС-15-на300.jpg" />
                        </div>
                        break;
                    case "boatstraditional":
                        <div>
                            <img src="~/images/узкие/Лодки/Сойма-2-короткий-обр-на300.jpg" />
                        </div>
                        break;
                    case "bigboats":
                        <div>
                            <img src="~/images/узкие/Шлюпки/вельбот-и-катер-на300-горнизонт.jpg" />
                        </div>
                        break;
                    case "boatsyal":
                        <div>
                            <img src="~/images/узкие/Шлюпки/Ял-6-на300-круть.jpg" />
                        </div>
                        break;
                    case "botiks":
                        <div>
                            <img src="~/images/узкие/Шлюпки/Ботик-обработ-на300.jpg" />
                        </div>
                        break;
                    case "katerrows":
                        <div>
                            <img src="~/images/узкие/Шлюпки/вельбот-корот-на300.jpg" />
                        </div>
                        break;
                    case "katera":
                        <div>
                            <img src="~/images/узкие/Катера/все-катера-на300.jpg" />
                        </div>
                        break;
                    case "motosailers":
                        <div>
                            <img src="~/images/узкие/Катера/АС-49-на300.jpg" />
                        </div>
                        break;
                    case "katerkabins":
                        <div>
                            <img src="~/images/узкие/Катера/ГР-30Т-2-на300.jpg" />
                        </div>
                        break;
                    case "katersfishing":
                        <div>
                            <img src="~/images/узкие/Катера/студент-обр-2-на300-2.jpg" />
                        </div>
                        break;
                    case "katerspassanger":
                        <div>
                            <img src="~/images/узкие/Катера/АС-40.1-на300.jpg" />
                        </div>
                        break;
                    case "ladiy":
                        <div style="display:none">
                            <img src="~/images/узкие/Ладьи/ладьи-общая.jpg" />
                        </div>
                        <div>
                            <img src="~/images/узкие/Ладьи/ладьи-общая2.jpg" />
                        </div>
                        break;
                    case "ladyassailrow":
                        <div style="display:none">
                            <img src="~/images/узкие/Ладьи/АС-23-на300.jpg" />
                        </div>
                        <div>
                            <img src="~/images/узкие/Ладьи/Петина_ладья50-помельче.jpg" />
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Ладьи/Петина_ладья50.jpg" />
                        </div>
                        break;
                    case "ladyassailmotor":
                        <div>
                            <img src="~/images/узкие/Ладьи/АС-38-обр-на300.jpg" />
                        </div>
                        break;
                    case "sailboats":
                        <div>
                            <img src="~/images/узкие/Парусники/ГР-58-на300.jpg">
                        </div>
                        break;
                    case "yachts":
                        <div>
                            <img src="~/images/узкие/Парусники/АС-36-на300.jpg">
                        </div>
                        break;
                    case "svertbots":
                        <div>
                            <img src="~/images/узкие/Парусники/АС-22MS-на300.jpg">
                        </div>
                        break;
                    case "sailboatsstudy":
                        <div>
                            <img src="~/images/узкие/Парусники/АС-47-обр-на300.jpg">
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Парусники/АС-47-с-водой-обр-на300.jpg">
                        </div>
                        break;
                    case "sailboatshistorical":
                        <div>
                            <img src="~/images/узкие/Парусники/якуцк-обр-на300.jpg">
                        </div>
                        break;
                    case "makets":
                        <div>
                            <img src="~/images/узкие/Макеты/разное-на300.jpg" />
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Макеты/гото-предистинация.jpg" />
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Макеты/хорнблауер.jpg" />
                        </div>
                        <div style="display:none">
                            <img src="~/images/узкие/Макеты/крузенштерн коллаж.jpg" />
                        </div>
                        break;
                    case "maketsstudy":
                        <div style="display:none">
                            <img src="~/images/узкие/Макеты/ял-макет.jpg" />
                        </div>
                        <div>
                            <img src="~/images/узкие/Шлюпки/Учебные-пособия-коллаж.jpg" />
                        </div>
                        break;
                    default:
                        <div class="longUpFoto">
                            <img src="~/images/Надверхняя-строка-на150.jpg" />
                        </div>
                        <div class="shortUpFoto">
                            <img src="~/images/Надверхняя-строка-на150-коротк.jpg" />
                        </div>
                        break;
                }
            </div>*@
        @*<div class="veryShortUpFoto">
                <img src="~/images/Надверхняя-строка-на150-оч-коротк.jpg" />
            </div>*@
    </div>
    <div style="height:50px;width:100%;background-color:#183f61;color:white;display:flex;justify-content:center;position:fixed;z-index:10;top:0">
        <div style="display:flex;justify-content:space-between;align-items:center;width:100%;max-width:1350px;font-size:21px;margin-left:15px;margin-right:15px;">
            <div style="display:flex;align-items:center;justify-content:flex-start">
                <div class="shortTopMenu">
                    <div class="navigationButton" onclick="navigationButton()"><img src="~/images/icons/бургер-бел-спис2.png" /></div>
                    <div class="topMenuIcon">
                        <img src="~/images/лого-кораблик-с-текстом-белый-жирный.png" />
                    </div>
                    <div style="display:flex;align-items:center;font-size:2.5rem;">
                        ВАРЯГ
                    </div>
                </div>
                <div id="secondVarMenu"  class="fullTopMenu">
                    <div class="topMenuIcon">
                        <img src="~/images/лого-кораблик-с-текстом-белый-жирный.png" />
                    </div>
                    <a href="../../Каталог" style="margin-right:15px;color:white">КАТАЛОГ</a>
                    <a id="aboutMenu" href="../../О-Нас" style="margin-right:15px;color:white">О НАС</a>
                </div>
            </div>
            <div style="display:flex;align-items:center;">
                <div style="display:flex"><a style="cursor:pointer;margin-right:5px" href="https://vk.com/shipyard_varyag" target="_blank"><img src="~/images/icons/vkont.png" alt="vk" class="contactsSocial" /></a><a style="cursor:pointer" href="https://www.facebook.com/VaryagShipyard" target="_blank"><img src="~/images/icons/facebook.png" alt="facebook" class="contactsSocial" /></a></div>
                <div><img src="~/images/icons/contacts2.png" class="contactsSocial" id="contacts" /></div>
                <div><img src="~/images/icons/contacts.png" class="contactsSocial" style="display:none" /></div>
                <div id="contactsWords" style="margin-left:15px">КОНТАКТЫ</div>
            </div>
        </div>
    </div>
    @*<div id="newBurger" style="display:none;background-color:#183f61;z-index:14;max-width:310px;top:0;position:absolute;min-height:50px;padding-left:15px;">
        <div id="navigationButton" onclick="navigationButton()" style="margin:auto 15px auto auto"><img src="~/images/icons/бургер-бел-спис2.png" /></div>
        <div style="width:50px;display:none;margin-left:5px">
            <img src="~/images/лого-кораблик-с-текстом-белый-жирный.png" />
        </div>
        <div style="display:flex;align-items:center;font-size:2.5rem;color:white;">
            ВАРЯГ
        </div>
    </div>*@
    <partial name="_CookieConsentPartial" />

    <div style="margin-bottom:50px"></div>

    @RenderBody()
    <footer class="footerSmall">
        @*<div class="aboutSite">
                <div class="logo">
                    <img src="~/images/лого-кораблик-с-текстом-белый-жирный.png" style="height:237px" />
                    <img src="~/images/лого-кораблик-с-текстом-еще-пожирней.png" style="display:none;height:237px" />
                    <img src="~/images/лого-кораблик-с-текстом-светлосиний.png" style="display:none;height:237px" />
                    <img src="~/images/лого-кораблик-с-текстом-светло-светлосиний.png" style="display:none;height:237px" />
                    <img src="~/images/лого-кораблик-с-текстом.png" style="display:none;height:200px;width:auto" />
                </div>
                <div class="socialNetworks">
                    <div style="font-size:1.4rem">
                        НАШИ СОЦСЕТИ:
                    </div>
                    <div class="socialVidgets">
                        <div id="vk_groups"></div>
                    </div>
                    <div class="socialButtons" style="display:none">
                        <a href="https://vk.com/shipyard_varyag" class="socialButton">
                            <img src="~/images/vkont.png" />
                        </a>
                        <a href="https://vk.com/shipyard_varyag" class="socialButton">
                            <img src="~/images/insta.png" />
                        </a>
                        <a href="https://vk.com/shipyard_varyag" class="socialButton">
                            <img src="~/images/youtube.png" />
                        </a>
                    </div>
                </div>
                <div class="footerContactsLong">
                    <p>
                        Связаться с нами можно по:<br />
                        электронной почте&nbsp;- varyag@onego.ru<br />
                        или по телефону&nbsp;- +7&nbsp;814&nbsp;273&nbsp;35&nbsp;80
                    </p>
                </div>
                <div id="contacts" class="footerContactsLong">
                    <p>
                        Наш адрес: г.&nbsp;Петрозаводск ул.&nbsp;Онежской флотилии, д.&nbsp;43,
                        заезд с переулка спасателей.
                    </p>
                </div>
                <div class="footerMap">
                    <img src="~/images/Карта_286х237.png" width="286" height="237" style="max-width:initial" />
                    <img src="~/images/Варяг_30-10-2019_18-08-23.png" width="286" height="237" style="max-width:initial;display:none" />
                </div>
            </div>*@
        <div class="aboutMe">
            <div>© 2021 Верфь деревянного судостроения «Варяг»</div><div>Разработчик - Михаил Мартюков</div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/fotorama.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=a93c2bc3-57dc-4ed5-90f0-419606ca819a&lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?162"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v5.0"></script>
    <script src="~/js/top-nav.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>