@model Varyag.Models.Article

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoPath1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoPath1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoPath2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoPath2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoPath3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoPath3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoPath4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoPath4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoPath5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoPath5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoPath6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoPath6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoPath7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoPath7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoPath8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoPath8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text9)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text9)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoPath9)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoPath9)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text10)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text10)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoPath10)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoPath10)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text11)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text11)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoPath11)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoPath11)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text13)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text13)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoPath13)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoPath13)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text14)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text14)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoPath14)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoPath14)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text15)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text15)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoPath15)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoPath15)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ArticleId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
