@model Varyag.Models.ShipProject

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ShipProject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ShipProjectID" />
            <div class="form-group">
                <label asp-for="ProjectName" class="control-label"></label>
                <input asp-for="ProjectName" class="form-control" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectLength" class="control-label"></label>
                <input asp-for="ProjectLength" class="form-control" />
                <span asp-validation-for="ProjectLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectWindth" class="control-label"></label>
                <input asp-for="ProjectWindth" class="form-control" />
                <span asp-validation-for="ProjectWindth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectDeep" class="control-label"></label>
                <input asp-for="ProjectDeep" class="form-control" />
                <span asp-validation-for="ProjectDeep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectVolume" class="control-label"></label>
                <input asp-for="ProjectVolume" class="form-control" />
                <span asp-validation-for="ProjectVolume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectEnginePower" class="control-label"></label>
                <input asp-for="ProjectEnginePower" class="form-control" />
                <span asp-validation-for="ProjectEnginePower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectSpeed" class="control-label"></label>
                <input asp-for="ProjectSpeed" class="form-control" />
                <span asp-validation-for="ProjectSpeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectSailArea" class="control-label"></label>
                <input asp-for="ProjectSailArea" class="form-control" />
                <span asp-validation-for="ProjectSailArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectSleepingAreas" class="control-label"></label>
                <input asp-for="ProjectSleepingAreas" class="form-control" />
                <span asp-validation-for="ProjectSleepingAreas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectPassengerCap" class="control-label"></label>
                <input asp-for="ProjectPassengerCap" class="form-control" />
                <span asp-validation-for="ProjectPassengerCap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectFuelCap" class="control-label"></label>
                <input asp-for="ProjectFuelCap" class="form-control" />
                <span asp-validation-for="ProjectFuelCap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectFreshWaterCap" class="control-label"></label>
                <input asp-for="ProjectFreshWaterCap" class="form-control" />
                <span asp-validation-for="ProjectFreshWaterCap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectType" class="control-label"></label>
                <select asp-for="ProjectType" class="form-control"></select>
                <span asp-validation-for="ProjectType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectDescription" class="control-label"></label>
                <input asp-for="ProjectDescription" class="form-control" />
                <span asp-validation-for="ProjectDescription" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CruiseShip" /> @Html.DisplayNameFor(model => model.CruiseShip)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="StudyShip" /> @Html.DisplayNameFor(model => model.StudyShip)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FishingShip" /> @Html.DisplayNameFor(model => model.FishingShip)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HistoricalShip" /> @Html.DisplayNameFor(model => model.HistoricalShip)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ReserchShip" /> @Html.DisplayNameFor(model => model.ReserchShip)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PassangerShip" /> @Html.DisplayNameFor(model => model.PassangerShip)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
