@model Varyag.Models.Project
@{
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

@*style="background:url('../images/Гравюра_большое_разрешение_засветленное-с-небом5.jpg') bottom center no-repeat;background-size:cover;"*@
<div>
    <div class="MyContainer">
        <div class="path">
            <a href="../../О-нас">Главная</a> > <a href="../../Каталог">Каталог</a> > @if (Model.BoatRow == true || Model.BoatSail == true || Model.BoatTraditional == true)
            {<a href="../../Каталог/Лодки">Лодки</a><a style="text-decoration:none"> > </a><a>@Model.Name</a>}
            else if (Model.BoatYal == true || Model.Botik == true || Model.KaterRow == true || Model.MaketStudy == true)
            {<a href="../../Каталог/Шлюпки">Шлюпки</a><a style="text-decoration:none"> > </a><a>@Model.Name</a>}
            else if (Model.KaterCabin == true || Model.KaterFish == true || Model.KaterPass == true || Model.Motosailer == true)
            {<a href="../Каталог/Катера">Катера</a><a style="text-decoration:none"> > </a><a>@Model.Name</a>}
            else if (Model.LadyaSail == true || Model.LadyaRow == true || Model.LadyaProject == true)
            {<a href="../Каталог/Ладьи">Ладьи</a><a style="text-decoration:none"> > </a><a>@Model.Name</a>}
            else if (Model.SailboatHistorical == true || Model.SailboatProject == true || Model.SailboatStudy == true || Model.Shvertbot == true || Model.Yacht == true)
            {<a href="../Каталог/Парусники">Парусники</a><a style="text-decoration:none"> > </a><a>@Model.Name</a>}
        </div>
        <div class="projectName"><p>@Model.Name</p></div>
        <div class="projectsDetailsTop">
            <div class="sheme-TTH">
                <div class="shemeFlex">
                    <div class="fotorama" data-allowfullscreen="native">
                        <img src="@Url.Action("ProjectImageRender", "Projects", new { id = Model.ProjectID, fot = "shemeFull"})" />
                    </div>
                </div>
                <div class="TTH-detailsFlex">
                    <table style="margin-bottom:5px">
                        <tr>
                            <td colspan="3"><h4>Характеристики</h4></td>
                        </tr>
                        <tr>
                            <td id="details" class="characteristic">@Html.DisplayNameFor(model => model.Length)</td>
                            <td id="shortCharacteristicName" class="characteristic">Длина корпуса</td>
                            <td class="value">@Model.Length&nbsp;м.</td>
                        </tr>
                        <tr>
                            <td id="details" class="characteristic">@Html.DisplayNameFor(model => model.Windth)</td>
                            <td id="shortCharacteristicName" class="characteristic">Ширина корпуса</td>
                            <td class="value">@Model.Windth&nbsp;м.</td>
                        </tr>
                        <tr>
                            <td id="details" class="characteristic">@Html.DisplayNameFor(model => model.Deep)</td>
                            <td id="shortCharacteristicName" class="characteristic">Осадка судна</td>
                            <td class="value">@Model.Deep&nbsp;м.</td>
                        </tr>
                        @if (@Model.Volume != null)
                        {
                        <tr>
                            <td id="details" class="characteristic">@Html.DisplayNameFor(model => model.Volume)</td>
                            <td id="shortCharacteristicName" class="characteristic">Водоизмещение</td>
                            <td class="value">@Model.Volume&nbsp;т.</td>
                        </tr>
                        }
                        @if (@Model.Mass != null)
                        {
                        <tr>
                            <td id="details" class="characteristic">@Html.DisplayNameFor(model => model.Mass)</td>
                            <td id="shortCharacteristicName" class="characteristic">Вес корпуса</td>
                            <td class="value">@Model.Mass&nbsp;кг.</td>
                        </tr>
                        }
                        @if (@Model.NumberOfOars != null)
                        {
                        <tr>
                            <td id="details" class="characteristic">@Html.DisplayNameFor(model => model.NumberOfOars)</td>
                            <td id="shortCharacteristicName" class="characteristic">Весла</td>
                            <td class="value">@Model.NumberOfOars&nbsp;шт.</td>
                        </tr>
                        }
                        <tr>
                            <td id="details" class="characteristic">@Html.DisplayNameFor(model => model.EnginePower)</td>
                            <td id="shortCharacteristicName" class="characteristic">Мощность двигателя</td>
                            @if (@Model.EnginePower != null)
                            {
                                <td class="value">@Model.EnginePower&nbsp;л.с.</td>
                            }
                            else
                            {
                                <td class="value">-</td>
                            }
                        </tr>
                        <tr>
                            <td id="details" class="characteristic">@Html.DisplayNameFor(model => model.Speed)</td>
                            <td id="shortCharacteristicName" class="characteristic">Скорость (двигатель)</td>
                            @if (@Model.Speed != null)
                            {
                                <td class="value">@Model.Speed&nbsp;узлов</td>
                            }
                            else
                            {
                                <td class="value">-</td>
                            }
                        </tr>
                        <tr>
                            <td id="details" class="characteristic">@Html.DisplayNameFor(model => model.SailArea)</td>
                            <td id="shortCharacteristicName" class="characteristic">Площадь парусности</td>
                            @if (@Model.SailArea != null)
                            {
                                <td class="value">@Model.SailArea&nbsp;м<sup>2</sup></td>
                            }
                            else
                            {
                                <td class="value">-</td>
                            }
                        </tr>
                        <tr>
                            <td id="details" class="characteristic">@Html.DisplayNameFor(model => model.SleepingAreas)</td>
                            <td id="shortCharacteristicName" class="characteristic">Спальные места</td>
                            @if (@Model.SleepingAreas != null)
                            {
                                <td class="value">@Model.SleepingAreas&nbsp;шт.</td>
                            }
                            else
                            {
                                <td class="value">-</td>
                            }
                        </tr>
                        <tr>
                            <td id="details" class="characteristic">@Html.DisplayNameFor(model => model.PassengerCap)</td>
                            <td id="shortCharacteristicName" class="characteristic">Кол-во пассажиров</td>
                            @if (@Model.PassengerCap != null)
                            {
                                <td class="value">@Model.PassengerCap&nbsp;чел.</td>
                            }
                            else
                            {
                                <td class="value">-</td>
                            }
                        </tr>
                        <tr>
                            <td id="details" class="characteristic">@Html.DisplayNameFor(model => model.FuelCap)</td>
                            <td id="shortCharacteristicName" class="characteristic">Запас топлива</td>
                            @if (@Model.FuelCap != null)
                            {
                                <td class="value">@Model.FuelCap&nbsp;л.</td>
                            }
                            else
                            {
                                <td class="value">-</td>
                            }
                        </tr>
                        @if (@Model.FreshWaterCap != null)
                        {
                            <tr>
                                <td id="details" class="characteristic">@Html.DisplayNameFor(model => model.FreshWaterCap)</td>
                                <td id="shortCharacteristicName" class="characteristic">Запас пресной воды</td>
                                <td class="value">@Model.FreshWaterCap&nbsp;л.</td>
                            </tr>
                        }
                    </table>
                    <div class="catalogItemBottom">@Html.DisplayNameFor(model => model.Price) : @Model.Price&nbsp;тыс.р.</div>
                </div>
            </div>
            <div class="galleryFlex">
                <div class="fotorama" data-nav="thumbs" data-width="100%" data-fit="contain" data-allowfullscreen="native">
                    @await Component.InvokeAsync("Fotorama", new { shipProjectId = Model.ProjectID })
                </div>
            </div>
        </div>
        <div style="display:flex;flex-direction:column;padding:10px;">
            <div style="display:flex;justify-content:flex-start;font-size:1.3rem;font-weight:bold;align-items:center;">
                <div class="desc-top" onclick="$('.description').css('display','block'), $('.projectNews').css('display','none'), $('.newsOfProject').css('background-color','#c3e3ff'), $('.desc-top').css('background-color','white')"><div>Описание:</div></div>
                <div class="newsOfProject" onclick="$('.description').css('display','none'), $('.projectNews').css('display','flex'), $('.newsOfProject').css('background-color','white'), $('.desc-top').css('background-color','#c3e3ff')">Новости о проекте</div>
            </div>
            <div class="description">
                @Html.Raw(Model.Description)
            </div>
            <div class="projectNews">
                @await Component.InvokeAsync("ProjectNews", new { projectName = Model.Name })
            </div>
        </div>
    </div>
</div>
