@model Varyag.Models.Project

@{
    ViewData["Title"] = "ProjectDetails";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<h1>@Model.Name</h1>

<div class="details-top">
    <div class="sheme-tth">
        <div class="sheme"><img src="@Url.Action("ProjectImageRender", "Projects", new { id = Model.ProjectID, fot = "sheme"})" /></div>
        <div class="TTH-details">
            <table style="width:100%">
                <tr>
                    <td colspan="3"><h4>Характеристики</h4></td>
                </tr>
                <tr>
                    <td class="characteristic">@Html.DisplayNameFor(model => model.Length)</td>
                    <td class="table-space"></td>
                    <td class="value">@Model.Length</td>
                </tr>
                <tr>
                    <td class="characteristic">@Html.DisplayNameFor(model => model.Windth)</td>
                    <td class="table-space"></td>
                    <td class="value">@Model.Windth</td>
                </tr>
                @if (@Model.Deep != null)
                {
                    <tr>
                        <td class="characteristic">@Html.DisplayNameFor(model => model.Deep)</td>
                        <td class="table-space"></td>
                        <td class="value">@Model.Deep</td>
                    </tr>
                }
                @if (@Model.Volume != null)
                {
                    <tr>
                        <td class="characteristic">@Html.DisplayNameFor(model => model.Volume)</td>
                        <td class="table-space"></td>
                        <td class="value">@Model.Volume</td>
                    </tr>
                }
                @if (@Model.Mass != null)
                {
                    <tr>
                        <td class="characteristic">@Html.DisplayNameFor(model => model.Mass)</td>
                        <td class="table-space"></td>
                        <td class="value">@Model.Mass</td>
                    </tr>
                }
                @if (@Model.NumberOfOars != null)
                {
                    <tr>
                        <td class="characteristic">@Html.DisplayNameFor(model => model.NumberOfOars)</td>
                        <td class="table-space"></td>
                        <td class="value">@Model.NumberOfOars</td>
                    </tr>
                }
                @if (@Model.EnginePower != null)
                {
                    <tr>
                        <td class="characteristic">@Html.DisplayNameFor(model => model.EnginePower)</td>
                        <td class="table-space"></td>
                        <td class="value">@Model.EnginePower</td>
                    </tr>
                }
                @if (@Model.Speed != null)
                {
                    <tr>
                        <td class="characteristic">@Html.DisplayNameFor(model => model.Speed)</td>
                        <td class="table-space"></td>
                        <td class="value">@Model.Speed</td>
                    </tr>
                }
                @if (@Model.SailArea != null)
                {
                    <tr>
                        <td class="characteristic">@Html.DisplayNameFor(model => model.SailArea)</td>
                        <td class="table-space"></td>
                        <td class="value">@Model.SailArea</td>
                    </tr>
                }
                @if (@Model.SleepingAreas != null)
                {
                    <tr>
                        <td class="characteristic">@Html.DisplayNameFor(model => model.SleepingAreas)</td>
                        <td class="table-space"></td>
                        <td class="value">@Model.SleepingAreas</td>
                    </tr>
                }
                @if (@Model.PassengerCap != null)
                {
                    <tr>
                        <td class="characteristic">@Html.DisplayNameFor(model => model.PassengerCap)</td>
                        <td class="table-space"></td>
                        <td class="value">@Model.PassengerCap</td>
                    </tr>
                }
                @if (@Model.FuelCap != null)
                {
                    <tr>
                        <td class="characteristic">@Html.DisplayNameFor(model => model.FuelCap)</td>
                        <td class="table-space"></td>
                        <td class="value">@Model.FuelCap</td>
                    </tr>
                }@if (@Model.FreshWaterCap != null)
                {
                    <tr>
                        <td class="characteristic">@Html.DisplayNameFor(model => model.FreshWaterCap)</td>
                        <td class="table-space"></td>
                        <td class="value">@Model.FreshWaterCap</td>
                    </tr>
                }
                <tr>
                    <td class="characteristic">@Html.DisplayNameFor(model => model.Price)</td>
                    <td class="table-space"></td>
                    <td class="value">@Model.Price</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="galery">
        <div class="fotorama" data-nav="thumbs" data-width="100%" data-fit="contain" data-allowfullscreen="native">
            <img src="@Url.Action("ProjectImageRender", "Projects", new { id = Model.ProjectID, fot = "main"})" />
            <img src="@Url.Action("ProjectImageRender", "Projects", new { id = Model.ProjectID, fot = "sheme"})" />
        </div>
    </div>
</div>
<div>
    @Html.Raw(Model.Description)
</div>
