@model IEnumerable<Varyag.Models.Foto>


<table>
    <tr>
        <td>
            <a asp-action="Create" asp-controller="Fotoes" asp-route-ShipProjectID="@ViewBag.ShipId" asp-route-NewsID="@ViewBag.NewsId">Добавить фотку</a>
        </td>
    </tr>
</table>
<br />
<br />
@foreach (var item in Model)
{
<table class="myFloatTable">
    <tr>
        <td rowspan="3">
            <img alt="@item.Alt" title="@item.Name" width="120" height="120" src="@Url.Action("ImageRender", "Fotoes", new { id = item.FotoID})">
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Alt)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Name)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Alt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <a asp-action="Delete" asp-controller="Fotoes" asp-route-id="@item.FotoID">Удалить</a>
        </td>
    </tr>
</table>
}
<br />