@model IEnumerable<Varyag.Models.Project>

<div class="projects">
    @foreach (var item in Model)
    {
    <div class="singleProject">
        <div class="projectImage"><img src="@Url.Action("ProjectImageRender", "Projects", new { id = item.ProjectID, fot = "sheme"})" alt="@item.Name" title="@item.Name" /></div>
        <div class="projectImage"><img src="@Url.Action("ProjectImageRender", "Projects", new { id = item.ProjectID, fot = "main"})" alt="@item.Name" title="@item.Name" /></div>
        <div class="TTH">
            <div>
                <table>
                    <tr>
                        <td colspan="2">@item.Name</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Length)</td>
                        <td>@item.Length</td>
                    </tr>
                    @if (@item.Volume != null)
                    {
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Volume)</td>
                            <td>@item.Volume</td>
                        </tr>
                    }
                    @if (@item.Mass != null)
                    {
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Mass)</td>
                            <td>@item.Mass</td>
                        </tr>
                    }
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.PassengerCap)</td>
                        <td>@item.PassengerCap</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Price)</td>
                        <td>@item.Price</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    }
</div>
<br />