@model IEnumerable<Article>



<div class="articlesPreviewBlock">
    <a href="../../../o-nas/stati" style="height:100%;">
        <div class="headerAbout" id="newsPreview">
            <div class="borderAbout"></div>
            <div class="longPreviewBlockText">Статьи о наших работах для музеев, а также отечественных и зарубежных киностудий можно посмотреть тут</div>
            <div class="shortPreviewBlockText">Отдельные статьи о наших заказах для музеев и кино</div>
            <div class="borderAbout"></div>
        </div>
    </a>
    <div class="partNews" id="shortStory" style="width:100%">
        <a href="../../../o-nas/stati/@Model.ElementAt(0).ArticleRoute">
            <div class="partNewsElement" style="background-image:url(@Model.ElementAt(0).ShortFotoPreview);background-position-x:@Model.ElementAt(0).ShortImgX;background-position-y:@Model.ElementAt(0).ShortImgY;background-size:@Model.ElementAt(0).ShortImgScale auto;background-repeat:no-repeat;margin-bottom:3px;">
                <div class="annotation">
                    <div class="annotationText" style="font-size:1.2rem">
                        @Html.Raw(Model.ElementAt(0).ShortStory)
                    </div>
                </div>
            </div>
        </a>
        <div class="newsPreviewSpace"></div>
        <a href="../../../o-nas/stati/@Model.ElementAt(1).ArticleRoute">
            <div class="partNewsElement" style="background-image:url(@Model.ElementAt(1).ShortFotoPreview);background-position-x:@Model.ElementAt(1).ShortImgX;background-position-y:@Model.ElementAt(1).ShortImgY;background-size:@Model.ElementAt(1).ShortImgScale auto;background-repeat:no-repeat;margin-bottom:3px;">
                <div class="annotation">
                    <div class="annotationText" style="font-size:1.2rem">
                        @Html.Raw(Model.ElementAt(1).ShortStory)
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="partNews" id="middleStory" style="width:100%">
        <a href="../../../o-nas/stati/@Model.ElementAt(0).ArticleRoute">
            <div class="partNewsElement" style="background-image:url(@Model.ElementAt(0).MiddleFotoPreview);background-position-x:@Model.ElementAt(0).MiddleImgX;background-position-y:@Model.ElementAt(0).MiddleImgY;background-size:@Model.ElementAt(0).MiddleImgScale auto;background-repeat:no-repeat;margin-bottom:3px;width:100%;">
                <div class="annotation">
                    <div class="annotationText" style="font-size:1.2rem">
                        @Html.Raw(Model.ElementAt(0).MiddleStory)
                    </div>
                </div>
            </div>
        </a>
        <a href="../../../o-nas/stati/@Model.ElementAt(1).ArticleRoute">
            <div class="partNewsElement" style="background-image:url(@Model.ElementAt(1).MiddleFotoPreview);background-position-x:@Model.ElementAt(1).MiddleImgX;background-position-y:@Model.ElementAt(1).MiddleImgY;background-size:@Model.ElementAt(1).MiddleImgScale auto;background-repeat:no-repeat;margin-bottom:3px;width:100%;">
                <div class="annotation">
                    <div class="annotationText">
                        @Html.Raw(Model.ElementAt(1).MiddleStory)
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="partNews" id="wideStory" style="width:100%">
        <a href="../../../o-nas/stati/@Model.ElementAt(0).ArticleRoute">
            <div id="mainPage" class="partNewsElement" style="background-image:url(@Model.ElementAt(0).WideFotoPreview);background-position-x:@Model.ElementAt(0).WideImgX;background-position-y:@Model.ElementAt(0).WideImgY;background-size:@Model.ElementAt(0).WideImgScale auto;background-repeat:no-repeat;margin-bottom:3px;width:100%;">
                <div class="annotation">
                    <div class="annotationText">
                        @Html.Raw(Model.ElementAt(0).WideStory)
                    </div>
                </div>
            </div>
        </a>
        <a href="../../../o-nas/stati/@Model.ElementAt(1).ArticleRoute">
            <div id="mainPage" class="partNewsElement" style="background-image:url(@Model.ElementAt(1).WideFotoPreview);background-position-x:@Model.ElementAt(1).WideImgX;background-position-y:@Model.ElementAt(1).WideImgY;background-size:@Model.ElementAt(1).WideImgScale auto;background-repeat:no-repeat;margin-bottom:3px;width:100%;">
                <div class="annotation">
                    <div class="annotationText">
                        @Html.Raw(Model.ElementAt(1).WideStory)
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>