@model IEnumerable<Varyag.Models.Article>

@{
    ViewData["Title"] = "Статьи об особых заказах";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}



<div class="MyContainer">
    <div class="path">
        <a href="../../О-Нас">Главная</a> > <a>О-нас</a> > <a>Особые заказы</a>
    </div>

    <input type="text" id="newsTypeSelector" value="@ViewBag.newsType" hidden />
    <div class="contentBlock">
        <div class="leftMenu">
            <nav>
                @if (ViewBag.newsType == null)
                {
                    <ul class="leftNavMenu" style="justify-content:flex-start;padding-bottom:79px">
                        <li>
                            <a asp-action="AllArticles" asp-route-actualNews="@ViewBag.actualNews" asp-route-recentNews="@ViewBag.recentNews" asp-route-oldNews="@ViewBag.oldNews" class="leftNavLine" style="color:red"><div class="navLineHeader">Особые заказы</div></a>
                        </li>
                        <li>
                            <a asp-action="AllNews" asp-route-newsType="smi" id="smiNav" class="leftNavLine"><div class="navLineHeader">СМИ о нас</div></a>
                        </li>
                        <li>
                            <a asp-action="AllNews" asp-route-newsType="life" id="lifeNav" class="leftNavLine"><div class="navLineHeader">Жизнь наших судов</div></a>
                        </li>
                        <li>
                            <a asp-action="AllNews" asp-route-newsType="newShips" id="newShipsNav" class="leftNavLine"><div class="navLineHeader">Новости верфи</div></a>
                        </li>
                        <li>
                            <div id="allNewsNav" class="leftNavLine"><a asp-action="AllNews" class="navLineHeader">Все новости</a><div id="allNewsOpen" class="leftNavOpenCurrent">+</div><div id="allNewsClose" class="leftNavCloseCurrent">-</div></div>
                            <ul id="allNews-Sub" class="leftSubNavOpenCurrent">
                                @if (ViewBag.part == "new")
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="new" style="color:red">@ViewBag.actualNews</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="new">@ViewBag.actualNews</a>
                                    </li>
                                }
                                @if (ViewBag.part == "recent")
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="recent" style="color:red">@ViewBag.recentNews</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="recent">@ViewBag.recentNews</a>
                                    </li>
                                }
                                @if (ViewBag.part == "old")
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="old" style="color:red">@ViewBag.oldNews</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="old">@ViewBag.oldNews</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="leftNavMenu" style="justify-content:flex-start;">
                        <li>
                            @if (ViewBag.newsType == "smi")
                            {
                                <a asp-action="AllNews" asp-route-newsType="smi" id="smiNav" class="leftNavLine" style="color:red"><div class="navLineHeader">СМИ о нас</div></a>

                            }
                            else
                            {
                                <a asp-action="AllNews" asp-route-newsType="smi" id="smiNav" class="leftNavLine"><div class="navLineHeader">СМИ о нас</div></a>

                            }
                        </li>
                        <li>
                            @if (ViewBag.newsType == "life")
                            {
                                <a asp-action="AllNews" asp-route-newsType="life" id="lifeNav" class="leftNavLine" style="color:red"><div class="navLineHeader">Жизнь наших судов</div></a>

                            }
                            else
                            {
                                <a asp-action="AllNews" asp-route-newsType="life" id="lifeNav" class="leftNavLine"><div class="navLineHeader">Жизнь наших судов</div></a>
                            }
                        </li>
                        <li>
                            @if (ViewBag.newsType == "newShips")
                            {
                                <a asp-action="AllNews" asp-route-newsType="newShips" id="newShipsNav" class="leftNavLine" style="color:red"><div class="navLineHeader">Новости верфи</div></a>

                            }
                            else
                            {
                                <a asp-action="AllNews" asp-route-newsType="newShips" id="newShipsNav" class="leftNavLine"><div class="navLineHeader">Новости верфи</div></a>
                            }
                        </li>
                        <li>
                            @*@if (ViewBag.newsType == null)
        {
            <div id="allNewsNav" class="leftNavLine"><a asp-action="AllNews" class="navLineHeader" style="color:red">Все новости</a><div id="allNewsOpen" class="leftNavOpenCurrent">+</div><div id="allNewsClose" class="leftNavCloseCurrent">-</div></div>
        }
        else
        {*@
                            <div id="allNewsNav" class="leftNavLine"><a asp-action="AllNews" class="navLineHeader">Все новости</a><div id="allNewsOpen" class="leftNavOpen">+</div><div id="allNewsClose" class="leftNavClose">-</div></div>
                            @*}*@
                            @*@if (ViewBag.newsType == null)
        {
            <ul id="allNews-Sub" class="leftSubNavOpenCurrent">
                @if (ViewBag.part == "new")
                {
                    <li class="leftSubCategory">
                        <a asp-action="AllNews" asp-route-part="new" style="color:red">@ViewBag.actualNews</a>
                    </li>
                }
                else
                {
                    <li class="leftSubCategory">
                        <a asp-action="AllNews" asp-route-part="new">@ViewBag.actualNews</a>
                    </li>
                }
                @if (ViewBag.part == "recent")
                {
                    <li class="leftSubCategory">
                        <a asp-action="AllNews" asp-route-part="recent" style="color:red">@ViewBag.recentNews</a>
                    </li>
                }
                else
                {
                    <li class="leftSubCategory">
                        <a asp-action="AllNews" asp-route-part="recent">@ViewBag.recentNews</a>
                    </li>
                }
                @if (ViewBag.part == "old")
                {
                    <li class="leftSubCategory">
                        <a asp-action="AllNews" asp-route-part="old" style="color:red">@ViewBag.oldNews</a>
                    </li>
                }
                else
                {
                    <li class="leftSubCategory">
                        <a asp-action="AllNews" asp-route-part="old">@ViewBag.oldNews</a>
                    </li>
                }
            </ul>
        }
        else
        {*@
                            <ul id="allNews-Sub" class="leftSubNavOpenCurrent">
                                @if (ViewBag.part == "new")
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="new" style="color:red">@ViewBag.actualNews</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="new">@ViewBag.actualNews</a>
                                    </li>
                                }
                                @if (ViewBag.part == "recent")
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="recent" style="color:red">@ViewBag.recentNews</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="recent">@ViewBag.recentNews</a>
                                    </li>
                                }
                                @if (ViewBag.part == "old")
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="old" style="color:red">@ViewBag.oldNews</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="old">@ViewBag.oldNews</a>
                                    </li>
                                }
                            </ul>
                            @*<ul id="allNews-Sub" class="leftSubNavOpen">
                                @if (ViewBag.part == "new")
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="new" style="color:red">@ViewBag.actualNews</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="new">@ViewBag.actualNews</a>
                                    </li>
                                }
                                @if (ViewBag.part == "recent")
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="recent" style="color:red">@ViewBag.recentNews</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="recent">@ViewBag.recentNews</a>
                                    </li>
                                }
                                @if (ViewBag.part == "old")
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="old" style="color:red">@ViewBag.oldNews</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="old">@ViewBag.oldNews</a>
                                    </li>
                                }
                            </ul>*@
                            @*}*@

                        </li>
                    </ul>
                }
            </nav>
            <div class="ourContacts">
                <div>НАШИ КОНТАКТЫ</div>
                <div class="contactsLeft">
                    <div class="contactsUnit"><img src="~/images/icons/phone.png" class="contactsIcon" alt="cont" />&nbsp;+7 (814) 273-35-80</div>
                    <a style="cursor:pointer" href="http://www.varyag-onego.ru" target="_blank" class="contactsUnit"><img src="~/images/icons/global_114550x96.png" class="contactsIcon" />&nbsp;www.varyag-onego.ru</a>
                    <div class="contactsUnit"><img src="~/images/icons/email.png" alt="mail" class="contactsIcon" />&nbsp;varyag@onego.ru</div>
                </div>
            </div>
        </div>
        <div class="projectsHalf">
            <div class="topCatalogLine">
                <h1 class="categorysLineTtem" style="margin-block:0;justify-content:flex-start">Особые заказы</h1>
            </div>
            <div style="margin-top:10px">
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <a asp-action="ArticleDetails" asp-route-id="@Model.ElementAt(i).ArticleRoute">
                        <div class="newsListElement">
                            <div class="partNewsElement" id="allNews" style="overflow:hidden;">
                                @await Component.InvokeAsync("Fotorama", new { articleId = @Model.ElementAt(i).ArticleId, galleryPath = @Model.ElementAt(i).PathToGallery1 + "\\preview", singleFoto=true })
                            </div>
                            <div class="textPartAllNews">
                                <div id="bottom" class="control">Смотреть...</div>
                                <h2>@Model.ElementAt(i).ArticleName</h2>
                                <div class="newsMainStory">@Html.Raw(Model.ElementAt(i).Text1)</div>
                            </div>
                        </div>
                    </a>
                    <div class="myBorder"></div>
                }
            </div>
        </div>
    </div>
</div>