@model IEnumerable<Varyag.Models.Article>

@{
    ViewData["Title"] = "Статьи об особых заказах";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}



<div class="MyContainer">
    <div class="path">
        <a href="../../О-Нас">Главная</a> > <a>О-нас</a> > <a>Особые заказы</a>
    </div>

    <input type="text" id="newsTypeSelector" value="@ViewBag.newsType" hidden />
    <div class="contentBlock">
        <div id="blackScreen" onclick="navigationButton()" class="blackScreen"></div>
        <div class="leftMenu">
            <nav>
                @if (ViewBag.newsType != "byType")
                {
                <ul class="leftNavMenu" style="justify-content:flex-start;padding-bottom:79px">
                    <li id="catalogWord">
                        <div class="leftNavLine"><h2><a asp-action="CatalogNavigation" asp-controller="Catalog" class="navLineHeader">Каталог</a></h2></div>
                    </li>
                    <li>
                        <div class="leftNavLine"><h2><a asp-action="AllArticles" asp-route-actualNews="@ViewBag.actualNews" asp-route-recentNews="@ViewBag.recentNews" asp-route-oldNews="@ViewBag.oldNews" class="leftNavLine"><div class="navLineHeader" style="color:red">Статьи</div></a></h2><div id="articlesOpen" class="leftNavOpenCurrent">+</div><div id="articlesClose" class="leftNavCloseCurrent">-</div></div>
                        <ul id="articles-sub" class="leftSubNavOpenCurrent">
                            @if (ViewBag.type == "Заказы для музеев")
                            {
                                <li class="leftSubCategory">
                                    <h3><a asp-action="AllArticles" asp-route-actualNews="@ViewBag.actualNews" asp-route-recentNews="@ViewBag.recentNews" asp-route-oldNews="@ViewBag.oldNews" asp-route-type="Заказы для музеев" style="color:red" id="museums">Заказы для музеев</a></h3>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <h3></h3><a asp-action="AllArticles" asp-route-actualNews="@ViewBag.actualNews" asp-route-recentNews="@ViewBag.recentNews" asp-route-oldNews="@ViewBag.oldNews" asp-route-type="Заказы для музеев" id="museums">Заказы для музеев</a>
                                </li>
                            }
                            @if (ViewBag.type == "Заказы для кино")
                            {
                                <li class="leftSubCategory">
                                    <h3><a asp-action="AllArticles" asp-route-actualNews="@ViewBag.actualNews" asp-route-recentNews="@ViewBag.recentNews" asp-route-oldNews="@ViewBag.oldNews" asp-route-type="Заказы для кино" style="color:red" id="museums">Заказы для кино</a></h3>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <h3><a asp-action="AllArticles" asp-route-actualNews="@ViewBag.actualNews" asp-route-recentNews="@ViewBag.recentNews" asp-route-oldNews="@ViewBag.oldNews" asp-route-type="Заказы для кино" id="museums">Заказы для кино</a></h3>
                                </li>
                            }
                        </ul>
                    </li>
                    <li>
                        <div id="themeNewsNav" class="leftNavLine" style="margin-top:46px"><h2><a asp-action="AllNews" class="navLineHeader">Наши новости</a></h2><div id="themeNewsOpen" class="leftNavOpenCurrent">+</div><div id="themeNewsClose" class="leftNavCloseCurrent">-</div></div>
                        <ul id="themeNews-sub" class="leftSubNavOpenCurrent">
                            @if (ViewBag.newsType == "smi")
                            {
                                <li class="leftSubCategory">
                                    <h3><a asp-action="AllNews" asp-route-newsType="smi" style="color:red" id="smiNav">СМИ о нас</a></h3>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <h3><a asp-action="AllNews" asp-route-newsType="smi" id="smiNav">СМИ о нас</a></h3>
                                </li>
                            }
                            @if (ViewBag.newsType == "life")
                            {
                                <li class="leftSubCategory">
                                    <h3><a asp-action="AllNews" asp-route-newsType="life" style="color:red" id="lifeNav">Жизнь наших судов</a></h3>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <h3><a asp-action="AllNews" asp-route-newsType="life" id="lifeNav">Жизнь наших судов</a></h3>
                                </li>
                            }
                            @if (ViewBag.newsType == "newShips")
                            {
                                <li class="leftSubCategory">
                                    <h3><a asp-action="AllNews" asp-route-newsType="newShips" style="color:red" id="newShipsNav">Новости верфи</a></h3>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <h3><a asp-action="AllNews" asp-route-newsType="newShips" id="newShipsNav">Новости верфи</a></h3>
                                </li>
                            }
                        </ul>
                    </li>
                    <li>
                        <div id="allNewsNav" class="leftNavLine" style="margin-top:69px"><h2><a asp-action="AllNews" asp-route-newsType="byType" class="navLineHeader">Архив</a></h2><div id="allNewsOpen" class="leftNavOpenCurrent">+</div><div id="allNewsClose" class="leftNavCloseCurrent">-</div></div>
                        <ul id="allNews-Sub" class="leftSubNavOpenCurrent">
                            <li class="leftSubCategory">
                                <h3><a asp-action="AllNews" asp-route-part="new" asp-route-newsType="byType">@ViewBag.actualNews</a></h3>
                            </li>
                            <li class="leftSubCategory">
                                <h3><a asp-action="AllNews" asp-route-part="recent" asp-route-newsType="byType">@ViewBag.recentNews</a></h3>
                            </li>
                            <li class="leftSubCategory">
                                <h3><a asp-action="AllNews" asp-route-part="old" asp-route-newsType="byType">@ViewBag.oldNews</a></h3>
                            </li>
                        </ul>
                    </li>
                </ul>
                }
                else
                {
                    <ul class="leftNavMenu" style="justify-content:flex-start;padding-bottom:79px">
                        <li>
                            <h2></h2><a asp-action="AllArticles" asp-route-actualNews="@ViewBag.actualNews" asp-route-recentNews="@ViewBag.recentNews" asp-route-oldNews="@ViewBag.oldNews" class="leftNavLine"><div class="navLineHeader">Статьи</div></a>
                        </li>
                        <li>
                            <div class="leftNavLine"><h2><a asp-action="AllNews" class="navLineHeader">Наши новости</a></h2><div id="themeNewsOpen" class="leftNavOpenCurrent">+</div><div id="themeNewsClose" class="leftNavCloseCurrent">-</div></div>
                            <ul id="themeNews-sub" class="leftSubNavOpenCurrent">
                                <li class="leftSubCategory">
                                    <h3><a asp-action="AllNews" asp-route-newsType="smi" id="smiNav" class="leftNavLine">СМИ о нас</a></h3>
                                </li>
                                <li class="leftSubCategory">
                                    <h3><a asp-action="AllNews" asp-route-newsType="life" id="lifeNav" class="leftNavLine">Жизнь наших судов</a></h3>
                                </li>
                                <li class="leftSubCategory">
                                    <h3><a asp-action="AllNews" asp-route-newsType="newShips" id="newShipsNav" class="leftNavLine">Новости верфи</a></h3>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div id="allNewsNav" class="leftNavLine" style="margin-top:69px"><h2><a asp-action="AllNews" asp-route-newsType="byType" class="navLineHeader" style="color:red">Архив</a></h2><div id="allNewsOpen" class="leftNavOpenCurrent">+</div><div id="allNewsClose" class="leftNavCloseCurrent">-</div></div>
                            <ul id="allNews-Sub" class="leftSubNavOpenCurrent">
                                @if (ViewBag.part == "new")
                                {
                                    <li class="leftSubCategory">
                                        <h3><a asp-action="AllNews" asp-route-part="new" asp-route-newsType="byType" style="color:red">@ViewBag.actualNews</a></h3>
                                    </li>
                                }
                                else
                                {
                                    <li class="leftSubCategory">
                                        <h3><a asp-action="AllNews" asp-route-part="new" asp-route-newsType="byType">@ViewBag.actualNews</a></h3>
                                    </li>
                                }
                                @if (ViewBag.part == "recent")
                                {
                                    <li class="leftSubCategory">
                                        <h3><a asp-action="AllNews" asp-route-part="recent" asp-route-newsType="byType" style="color:red">@ViewBag.recentNews</a></h3>
                                    </li>
                                }
                                else
                                {
                                    <li class="leftSubCategory">
                                        <h3><a asp-action="AllNews" asp-route-part="recent" asp-route-newsType="byType">@ViewBag.recentNews</a></h3>
                                    </li>
                                }
                                @if (ViewBag.part == "old")
                                {
                                    <li class="leftSubCategory">
                                        <h3><a asp-action="AllNews" asp-route-part="old" asp-route-newsType="byType" style="color:red">@ViewBag.oldNews</a></h3>
                                    </li>
                                }
                                else
                                {
                                    <li class="leftSubCategory">
                                        <h3><a asp-action="AllNews" asp-route-part="old" asp-route-newsType="byType">@ViewBag.oldNews</a></h3>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                }
            </nav>
            <div class="ourContacts">
                <div>НАШИ КОНТАКТЫ</div>
                <div class="contactsLeft">
                    <div class="contactsUnit"><img src="~/images/icons/phone.png" class="contactsIcon" alt="cont" />&nbsp;+7 (814) 273-35-80</div>
                    <a style="cursor:pointer" href="http://www.varyag-onego.ru" target="_blank" class="contactsUnit"><img src="~/images/icons/global_114550x96.png" class="contactsIcon" />&nbsp;www.varyag-onego.ru</a>
                    <div class="contactsUnit"><img src="~/images/icons/email.png" alt="mail" class="contactsIcon" />&nbsp;varyag@onego.ru</div>
                </div>
            </div>
        </div>
        <div class="projectsHalf">
            <div class="topCatalogLine" id="newsTopLine">
                <h1 class="categorysLineItem" style="margin-block:0;justify-content:flex-start">Статьи о верфи "Варяг"</h1>
            </div>
            <div class="newsBlock">
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <a href="../../О-нас/Особые-заказы/@Model.ElementAt(i).ArticleRoute?actualNews=@ViewBag.actualNews&recentNews=@ViewBag.recentNews&oldNews=@ViewBag.oldNews">
                        <div class="newsListElement">
                            <div>
                                <img src="@Model.ElementAt(i).ShortFotoPreview" loading="lazy" />
                            </div>
                            <div class="textPartAllNews" style="display:flex;flex-direction:column;align-items:flex-start;justify-content:space-between;margin:10px 0 10px 0;justify-self:center;width:96%;text-align:left">
                                <h2 style="margin-block:0;">@Model.ElementAt(i).ArticleName</h2>
                                <div style="display: flex;align-items: center;justify-content: center;font-weight: bolder;font-size: 1.4rem;">Смотреть...</div>
                            </div>
                        </div>
                    </a>
                    <div class="myBorder"></div>
                }
            </div>
        </div>
    </div>
</div>