@model List<NewsViewModel>
@{
    ViewData["Title"] = "Наши новости";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<div class="MyContainer">
    <div class="path">
        <a asp-action="Index" asp-controller="About">Главная</a> > <a href="../../../o-nas">Наши новости</a>
    </div>

    <input type="text" id="newsTypeSelector" value="@ViewBag.newsType" hidden />
    <div class="contentBlock">
        <div id="blackScreen" onclick="navigationButton()" class="blackScreen"></div>
        <div class="leftMenu">
            <nav>
                @if (ViewBag.newsType != "byType")
                {
                <ul class="leftNavMenu" style="justify-content:flex-start;padding-bottom:79px">
                    <li id="catalogWord">
                        <div class="leftNavLine"><a href="../../../katalog" class="navLineHeader">Каталог</a></div>
                    </li>
                    <li>
                        <div class="leftNavLine"><a href="../../../o-nas/stati?actualNews=@ViewBag.actualNews&recentNews=@ViewBag.recentNews&oldNews=@ViewBag.oldNews" class="leftNavLine"><div class="navLineHeader">Статьи</div></a><div id="articlesOpen" class="leftNavOpenCurrent">+</div><div id="articlesClose" class="leftNavCloseCurrent">-</div></div>
                        <ul id="articles-sub" class="leftSubNavOpenCurrent">
                            <li class="leftSubCategory">
                                <h2><a href="../../../o-nas/stati?actualNews=@ViewBag.actualNews&recentNews=@ViewBag.recentNews&oldNews=@ViewBag.oldNews&type=Заказы для музеев" id="museums">Заказы для музеев</a></h2>
                            </li>
                            <li class="leftSubCategory">
                                <h2><a href="../../../o-nas/stati?actualNews=@ViewBag.actualNews&recentNews=@ViewBag.recentNews&oldNews=@ViewBag.oldNews&type=Заказы для кино" id="museums">Заказы для кино</a></h2>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div id="themeNewsNav" class="leftNavLine" style="margin-top:46px"><a href="../../../o-nas" class="navLineHeader" style="color:red">Наши новости</a><div id="themeNewsOpen" class="leftNavOpenCurrent">+</div><div id="themeNewsClose" class="leftNavCloseCurrent">-</div></div>
                        <ul id="themeNews-sub" class="leftSubNavOpenCurrent">
                            @if (ViewBag.newsType == "smi")
                            {
                                <li class="leftSubCategory">
                                    <h2><a href="../../../o-nas?newsType=smi" style="color:red" id="smiNav">СМИ о нас</a></h2>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <h2><a href="../../../o-nas?newsType=smi" id="smiNav">СМИ о нас</a></h2>
                                </li>
                            }
                            @if (ViewBag.newsType == "life")
                            {
                                <li class="leftSubCategory">
                                    <h2><a href="../../../o-nas?newsType=life" style="color:red" id="lifeNav">Жизнь наших судов</a></h2>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <h2><a href="../../../o-nas?newsType=life" id="lifeNav">Жизнь наших судов</a></h2>
                                </li>
                            }
                            @if (ViewBag.newsType == "newShips")
                            {
                                <li class="leftSubCategory">
                                    <h2><a href="../../../o-nas?newsType=newShips" style="color:red" id="newShipsNav">Новости верфи</a></h2>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <h2><a href="../../../o-nas?newsType=newShips" id="newShipsNav">Новости верфи</a></h2>
                                </li>
                            }
                        </ul>
                    </li>
                    <li>
                        <div id="allNewsNav" class="leftNavLine" style="margin-top:69px"><a href="../../../o-nas?newsType=byType" class="navLineHeader">Архив</a><div id="allNewsOpen" class="leftNavOpenCurrent">+</div><div id="allNewsClose" class="leftNavCloseCurrent">-</div></div>
                        <ul id="allNews-Sub" class="leftSubNavOpenCurrent">
                            <li class="leftSubCategory">
                                <a href="../../../o-nas?part=new&newsType=byType">@ViewBag.actualNews</a>
                            </li>
                            <li class="leftSubCategory">
                                <a href="../../../o-nas?part=recent&newsType=byType">@ViewBag.recentNews</a>
                            </li>
                            <li class="leftSubCategory">
                                <a href="../../../o-nas?part=old&newsType=byType">@ViewBag.oldNews</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                }
                else
                {
                <ul class="leftNavMenu" style="justify-content:flex-start;padding-bottom:79px">
                    <li id="catalogWord">
                        <div class="leftNavLine"><a href="../../../katalog" class="navLineHeader">Каталог</a></div>
                    </li>
                    <li>
                        <div class="leftNavLine"><a href="../../../o-nas/stati?actualNews=@ViewBag.actualNews&recentNews=@ViewBag.recentNews&oldNews=@ViewBag.oldNews" class="leftNavLine"><div class="navLineHeader">Статьи</div></a><div id="articlesOpen" class="leftNavOpenCurrent">+</div><div id="articlesClose" class="leftNavCloseCurrent">-</div></div>
                        <ul id="articles-sub" class="leftSubNavOpenCurrent">
                            <li class="leftSubCategory">
                                <h2><a href="../../../o-nas/stati?actualNews=@ViewBag.actualNews&recentNews=@ViewBag.recentNews&oldNews=@ViewBag.oldNews&type=Заказы для музеев" id="museums">Заказы для музеев</a></h2>
                            </li>
                            <li class="leftSubCategory">
                                <h2><a href="../../../o-nas/stati?actualNews=@ViewBag.actualNews&recentNews=@ViewBag.recentNews&oldNews=@ViewBag.oldNews&type=Заказы для кино" id="museums">Заказы для кино</a></h2>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div id="themeNewsNav" class="leftNavLine" style="margin-top:46px"><a href="../../../o-nas" class="navLineHeader">Наши новости</a><div id="themeNewsOpen" class="leftNavOpenCurrent">+</div><div id="themeNewsClose" class="leftNavCloseCurrent">-</div></div>
                        <ul id="themeNews-sub" class="leftSubNavOpenCurrent">
                            <li class="leftSubCategory">
                                <h2><a href="../../../o-nas?newsType=smi" id="smiNav">СМИ о нас</a></h2>
                            </li>
                            <li class="leftSubCategory">
                                <h2><a href="../../../o-nas?newsType=life" id="lifeNav">Жизнь наших судов</a></h2>
                            </li>
                            <li class="leftSubCategory">
                                <h2><a href="../../../o-nas?newsType=newShips" id="newShipsNav">Новости верфи</a></h2>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div id="allNewsNav" class="leftNavLine" style="margin-top:69px"><a href="../../../o-nas?newsType=byType" class="navLineHeader" style="color:red">Архив</a><div id="allNewsOpen" class="leftNavOpenCurrent">+</div><div id="allNewsClose" class="leftNavCloseCurrent">-</div></div>
                        <ul id="allNews-Sub" class="leftSubNavOpenCurrent">
                            @if (ViewBag.part == "new")
                            {
                                <li class="leftSubCategory">
                                    <a href="../../../o-nas?part=new&newsType=byType" style="color:red">@ViewBag.actualNews</a>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <a href="../../../o-nas?part=new&newsType=byType">@ViewBag.actualNews</a>
                                </li>
                            }
                            @if (ViewBag.part == "recent")
                            {
                                <li class="leftSubCategory">
                                    <a href="../../../o-nas?part=recent&newsType=byType" style="color:red">@ViewBag.recentNews</a>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <a href="../../../o-nas?part=recent&newsType=byType">@ViewBag.recentNews</a>
                                </li>
                            }
                            @if (ViewBag.part == "old")
                            {
                                <li class="leftSubCategory">
                                    <a href="../../../o-nas?part=old&newsType=byType" style="color:red">@ViewBag.oldNews</a>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <a href="../../../o-nas?part=old&newsType=byType">@ViewBag.oldNews</a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
                }
            </nav>
            <div class="ourContacts">
                <div>НАШИ КОНТАКТЫ</div>
                <div class="contactsLeft">
                    <div class="contactsUnit"><img src="~/images/icons/phone.png" class="contactsIcon" alt="cont" />&nbsp;+7 (814) 273-35-80</div>
                    <a style="cursor:pointer" href="http://www.varyag-onego.ru" target="_blank" class="contactsUnit"><img src="~/images/icons/global_114550x96.png" class="contactsIcon" />&nbsp;www.varyag-onego.ru</a>
                    <div class="contactsUnit"><img src="~/images/icons/email.png" alt="mail" class="contactsIcon" />&nbsp;varyag@onego.ru</div>
                </div>
            </div>
        </div>
        <div class="projectsHalf">
            <div class="topCatalogLine" id="newsTopLine">
                <h1 class="categorysLineItem" style="margin-block:0;justify-content:flex-start">Наши новости</h1>
            </div>
            <div class="newsBlock">

                @for (int i = 0; i < Model.Count(); i++) 
                        {
                    <a href = "../../../o-nas/id?actualNews=@ViewBag.actualNews&recentNews=@ViewBag.recentNews&oldNews=@ViewBag.oldNews&id=@Model.ElementAt(i).NewsId">
                        <div class="newsListElement">
                            <div>
                                <img src="@Model.ElementAt(i).ShortFotoPreview" />
                            </div>
                            <div class="textPartAllNews" style="display:flex;flex-direction:column;align-items:flex-start;justify-content:space-between;margin:10px 0 10px 0;justify-self:center;width:96%;">
                                <div style="font-size:1.6rem;font-weight:bold;">@Model.ElementAt(i).NewsDatePreview</div>
                                <h2 class="newsMainStory">@Model.ElementAt(i).Header</h2>
                                <div style="display: flex;align-items: center;justify-content: center;font-weight: bolder;font-size: 1.4rem;">Смотреть...</div>
                            </div>
                        </div>
                    </a>
                    <div class="myBorder"></div>
                }


                @if (ViewBag.Pages != null)
                {
                    <div class="pageView">
                        <a href = "../../../o-nas?page=@ViewBag.CurrentPage&direction=left&newsType=@ViewBag.newsType&part=@ViewBag.part" style="color:red">&#9668;</a>
                        @for (int i = 1; i <= ViewBag.Pages; i++)
                        {
                            if (i == @ViewBag.CurrentPage)
                            {
                                <a href = "../../../o-nas?page=@i&newsType=@ViewBag.newsType&part=@ViewBag.part"><span style="color:red;margin:3px;font-size:1.4rem">@i </span></a>
                            }
                            else
                            {
                                <a href = "../../../o-nas?page=@i&newsType=@ViewBag.newsType&part=@ViewBag.part"><span style="color:red;margin:3px;font-size:1.1rem">@i </span></a>
                            }
                        }
                        <a href = "../../../o-nas?page=@ViewBag.CurrentPage&direction=right&newsType=@ViewBag.newsType&part=@ViewBag.part" style="color:red">&#9658;</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
