@model List<NewsViewModel>
@{
    ViewData["Title"] = "Наши новости";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<div class="MyContainer">
    <div class="path">
        <a href="../../О-Нас">Главная</a> > <a>Наши новости</a>
    </div>

    <input type="text" id="newsTypeSelector" value="@ViewBag.newsType" hidden />
    <div class="contentBlock">
        <div id="blackScreen" onclick="navigationButton()" style="display:none;width:100%;height:100%;background-color:black;opacity:0.4;position:fixed;z-index:8;top:0;"></div>
        <div class="leftMenu">
            <nav>
                @if (ViewBag.newsType != "byType")
                {
                    <ul class="leftNavMenu" style="justify-content:flex-start;padding-bottom:79px">
                        <li>
                            <a asp-action="AllArticles" asp-route-actualNews="@ViewBag.actualNews" asp-route-recentNews="@ViewBag.recentNews" asp-route-oldNews="@ViewBag.oldNews" class="leftNavLine"><div class="navLineHeader">Особые заказы</div></a>
                        </li>
                        <li>
                            <div class="leftNavLine"><a asp-action="AllNews" class="navLineHeader" style="color:red">Наши новости</a><div id="themeNewsOpen" class="leftNavOpenCurrent">+</div><div id="themeNewsClose" class="leftNavCloseCurrent">-</div></div>
                            <ul id="themeNews-sub" class="leftSubNavOpenCurrent">
                                @if (ViewBag.newsType == "smi")
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-newsType="smi" style="color:red" id="smiNav">СМИ о нас</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-newsType="smi" id="smiNav">СМИ о нас</a>
                                    </li>
                                }
                                @if (ViewBag.newsType == "life")
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-newsType="life" style="color:red" id="lifeNav">Жизнь наших судов</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-newsType="life" id="lifeNav">Жизнь наших судов</a>
                                    </li>
                                }
                                @if (ViewBag.newsType == "newShips")
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-newsType="newShips" style="color:red" id="newShipsNav">Новости верфи</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-newsType="newShips" id="newShipsNav">Новости верфи</a>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li>
                            <div id="allNewsNav" class="leftNavLine" style="margin-top:69px"><a asp-action="AllNews" asp-route-newsType="byType" class="navLineHeader">Архив</a><div id="allNewsOpen" class="leftNavOpenCurrent">+</div><div id="allNewsClose" class="leftNavCloseCurrent">-</div></div>
                            <ul id="allNews-Sub" class="leftSubNavOpenCurrent">
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="new" asp-route-newsType="byType">@ViewBag.actualNews</a>
                                    </li>
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="recent" asp-route-newsType="byType">@ViewBag.recentNews</a>
                                    </li>
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="old" asp-route-newsType="byType">@ViewBag.oldNews</a>
                                    </li>
                            </ul>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="leftNavMenu" style="justify-content:flex-start;padding-bottom:79px">
                        <li>
                            <a asp-action="AllArticles" asp-route-actualNews="@ViewBag.actualNews" asp-route-recentNews="@ViewBag.recentNews" asp-route-oldNews="@ViewBag.oldNews" class="leftNavLine"><div class="navLineHeader">Особые заказы</div></a>
                        </li>
                        <li>
                            <div class="leftNavLine"><a asp-action="AllNews" class="navLineHeader">Наши новости</a><div id="themeNewsOpen" class="leftNavOpenCurrent">+</div><div id="themeNewsClose" class="leftNavCloseCurrent">-</div></div>
                            <ul id="themeNews-sub" class="leftSubNavOpenCurrent">
                                <li class="leftSubCategory">
                                    <a asp-action="AllNews" asp-route-newsType="smi" id="smiNav" class="leftNavLine">СМИ о нас</a>
                                </li>
                                <li class="leftSubCategory">
                                    <a asp-action="AllNews" asp-route-newsType="life" id="lifeNav" class="leftNavLine">Жизнь наших судов</a>
                                </li>
                                <li class="leftSubCategory">
                                    <a asp-action="AllNews" asp-route-newsType="newShips" id="newShipsNav" class="leftNavLine">Новости верфи</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div id="allNewsNav" class="leftNavLine" style="margin-top:69px"><a asp-action="AllNews" asp-route-newsType="byType" class="navLineHeader" style="color:red">Архив</a><div id="allNewsOpen" class="leftNavOpenCurrent">+</div><div id="allNewsClose" class="leftNavCloseCurrent">-</div></div>
                            <ul id="allNews-Sub" class="leftSubNavOpenCurrent">
                                @if (ViewBag.part == "new")
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="new" asp-route-newsType="byType" style="color:red">@ViewBag.actualNews</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="new" asp-route-newsType="byType">@ViewBag.actualNews</a>
                                    </li>
                                }
                                @if (ViewBag.part == "recent")
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="recent" asp-route-newsType="byType" style="color:red">@ViewBag.recentNews</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="recent" asp-route-newsType="byType">@ViewBag.recentNews</a>
                                    </li>
                                }
                                @if (ViewBag.part == "old")
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="old" asp-route-newsType="byType" style="color:red">@ViewBag.oldNews</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="old" asp-route-newsType="byType">@ViewBag.oldNews</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                }
            </nav>
            <div class="ourContacts">
                <div>НАШИ КОНТАКТЫ</div>
                <div class="contactsLeft">
                    <div class="contactsUnit"><img src="~/images/icons/phone.png" class="contactsIcon" alt="cont" />&nbsp;+7 (814) 273-35-80</div>
                    <a style="cursor:pointer" href="http://www.varyag-onego.ru" target="_blank" class="contactsUnit"><img src="~/images/icons/global_114550x96.png" class="contactsIcon" />&nbsp;www.varyag-onego.ru</a>
                    <div class="contactsUnit"><img src="~/images/icons/email.png" alt="mail" class="contactsIcon" />&nbsp;varyag@onego.ru</div>
                </div>
            </div>
        </div>
        <div class="projectsHalf">
            <div class="topCatalogLine">
                <h1 class="categorysLineTtem" style="margin-block:0;justify-content:flex-start">Наши новости</h1>
            </div>
            <div class="newsBlock">
                @*@for (int i = 0; i < Model.Count(); i++)
                    {<a asp-action="NewsDetails" asp-route-id="@Model.ElementAt(i).NewsId">
                            <div class="newsListElement">
                                <div class="partNewsElement" id="allNews" style="grid-area:preview;background-image:url(@Model.ElementAt(i).ShortFotoPreview);background-position-x:@Model.ElementAt(i).ShortImgX;background-position-y:@Model.ElementAt(i).ShortImgY;background-size:@Model.ElementAt(i).ShortImgScale auto;background-repeat:no-repeat;margin-right:1vw">
                                    <div class="annotation" id="allNews">
                                        <div class="annotationText" id="allNews">
                                            @Html.Raw(Model.ElementAt(i).ShortStory)
                                        </div>
                                    </div>
                                </div>
                                <div class="textPartAllNews">
                                    <div id="bottom" class="control">Смотреть...</div>
                                    <div style="font-size:1.6rem;font-weight:bold;">@Model.ElementAt(i).NewsDate</div>
                                    <h3 class="newsMainStory">@Model.ElementAt(i).Header</h3>*@
                @*<div class="newsMainStory">@Html.Raw(Model.ElementAt(i).MainStory)</div>*@
                @*</div>
                            </div>
                        </a>
                        <div class="myBorder"></div>
                    }*@


                @for (int i = 0; i < Model.Count(); i++)
                {
                    <a asp-action="NewsDetails" asp-route-id="@Model.ElementAt(i).NewsId">
                        <div class="newsListElement">
                            <div class="partNewsElement" id="allNews" style="grid-area:preview;height:auto">
                                <img src="@Model.ElementAt(i).ShortFotoPreview" />
                            </div>
                            <div class="textPartAllNews" style="display:flex;flex-direction:column;align-items:flex-start;justify-content:space-between;margin:10px 0 10px 0;justify-self:center;width:96%;">
                                <div style="font-size:1.6rem;font-weight:bold;">@Model.ElementAt(i).NewsDatePreview</div>
                                <h2 class="newsMainStory">@Model.ElementAt(i).Header</h2>
                                <div style="display: flex;align-items: center;justify-content: center;font-weight: bolder;font-size: 1.4rem;">Смотреть...</div>
                            </div>
                        </div>
                    </a>
                    <div class="myBorder"></div>
                }


                @if (ViewBag.Pages != null)
                {
                    <div class="pageView">
                        <a asp-action="AllNews" asp-route-page="@ViewBag.CurrentPage" asp-route-direction="left" asp-route-newsType="@ViewBag.newsType" style="color:red">&#9668;</a>
                        @for (int i = 1; i <= ViewBag.Pages; i++)
                        {
                            if (i == @ViewBag.CurrentPage)
                            {
                                <a asp-action="AllNews" asp-route-page="@i" asp-route-newsType="@ViewBag.newsType"><span style="color:red;margin:3px;font-size:1.4rem">@i </span></a>
                            }
                            else
                            {
                                <a asp-action="AllNews" asp-route-page="@i" asp-route-newsType="@ViewBag.newsType"><span style="color:red;margin:3px;font-size:1.1rem">@i </span></a>
                            }
                        }
                        <a asp-action="AllNews" asp-route-page="@ViewBag.CurrentPage" asp-route-direction="right" asp-route-newsType="@ViewBag.newsType" style="color:red">&#9658;</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
