@model List<NewsViewModel>
@{
    ViewData["Title"] = "Наши новости";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<div style="margin:2vw"><h1>Наши новости</h1></div>
<div class="myBorder"></div>
<div class="newsNav">
    <div class="nav-element-minor" id="smi">
        <a asp-action="AllNews" asp-route-newsType="smi">
            <div id="allNews" class="nav-element-inside">
                <p>Сми о нас</p>
            </div>
        </a>
    </div>
    <div class="nav-element-minor" id="life">
        <a asp-action="AllNews" asp-route-newsType="life">
            <div id="allNews" class="nav-element-inside">
                <p>Жизнь наших судов</p>
            </div>
        </a>
    </div>
    <div class="nav-element-minor" id="newShips">
        <a asp-action="AllNews" asp-route-newsType="newShips">
            <div id="allNews" class="nav-element-inside">
                <p>Новые корабли</p>
            </div>
        </a>
    </div>
    <div class="nav-element-minor" id="all">
        <a asp-action="AllNews" asp-route-newsType="all">
            <div id="allNews" class="nav-element-inside">
                <p>Все новости</p>
            </div>
        </a>
    </div>
    <input type="text" id="newsTypeSelector" value="@ViewBag.newsType" hidden />
</div>
<div class="myBorder"></div>
<div class="MyContainer">
    @for (int i = 0; i < Model.Count(); i++)
    {<a asp-action="NewsDetails" asp-route-id="@Model.ElementAt(i).NewsId">
            <div class="newsListElement">
                <div class="partNewsElement" id="allNews" style="grid-area:preview;background-image:url(@Model.ElementAt(i).ShortFotoPreview);background-position-x:@Model.ElementAt(i).ShortImgX;background-position-y:@Model.ElementAt(i).ShortImgY;background-size:@Model.ElementAt(i).ShortImgScale auto;background-repeat:no-repeat;margin-right:1vw">
                    <div class="annotation" id="allNews">
                        <div class="annotationText" id="allNews">
                            @Html.Raw(Model.ElementAt(i).ShortStory)
                        </div>
                    </div>
                </div>
                <div class="textPartAllNews">
                    <div id="bottom" class="control">Смотреть...</div>
                    <h2>@Model.ElementAt(i).Header</h2>
                    <div class="newsMainStory">@Html.Raw(Model.ElementAt(i).MainStory)</div>
                </div>
            </div>
        </a>
        <div class="myBorder"></div>
    }
</div>

@if (ViewBag.Pages != null)
{
<div class="pageView">
    <a asp-action="AllNews" asp-route-page="@ViewBag.CurrentPage" asp-route-direction="left" asp-route-newsType="@ViewBag.newsType" style="color:red">&#9668;</a>
    @for (int i = 1; i <= ViewBag.Pages; i++)
    {
        if (i == @ViewBag.CurrentPage)
        {
            <a asp-action="AllNews" asp-route-page="@i" asp-route-newsType="@ViewBag.newsType"><span style="color:red;margin:3px;font-size:1.4rem">@i </span></a>
        }
        else
        {
            <a asp-action="AllNews" asp-route-page="@i" asp-route-newsType="@ViewBag.newsType"><span style="color:red;margin:3px;font-size:1.1rem">@i </span></a>
        }
    }
    <a asp-action="AllNews" asp-route-page="@ViewBag.CurrentPage" asp-route-direction="right" asp-route-newsType="@ViewBag.newsType" style="color:red">&#9658;</a>
</div>
}