@model Varyag.Models.Article

@{
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

@*<div style="display:flex;justify-content:center;margin:auto;"><h1>@Model.ArticleName</h1></div>*@
<div class="MyContainer">
    <div class="path">
        <a href="../../О-Нас">Главная</a> > <a>О нас</a> > <a>@Model.ArticleName</a>
    </div>
    <div class="contentBlock" style="max-width:1350px;margin:auto">
        <div class="leftMenu">
            <div style="display:flex;flex-direction:column;font-size:1.4rem;font-weight:bold;user-select:none">
                <div class="newsArticleMenuHeader">Последние статьи:</div>
                <div class="articleLeftMenu">Строительство первого линейного корабля российского флота "Гото-Придестинация"</div>
                <div id="centerArticle" class="articleLeftMenu">Строительство ладей на набережную города Выборг</div>
                <div id="bottomArticle" class="articleLeftMenu">Строительство моделей для съемок британского телесериала "Хорнблауер"</div>
            </div>
            @*<nav>
                    @if (ViewBag.newsType == null)
                    {
                        <ul class="leftNavMenu" style="justify-content:flex-start;padding-bottom:79px">
                            <li>
                                @if (ViewBag.newsType == "smi")
                                {
                                    <a asp-action="AllNews" asp-route-newsType="smi" id="smiNav" class="leftNavLine" style="color:red"><div class="navLineHeader">СМИ о нас</div></a>

                                }
                                else
                                {
                                    <a asp-action="AllNews" asp-route-newsType="smi" id="smiNav" class="leftNavLine"><div class="navLineHeader">СМИ о нас</div></a>

                                }
                            </li>
                            <li>
                                @if (ViewBag.newsType == "life")
                                {
                                    <a asp-action="AllNews" asp-route-newsType="life" id="lifeNav" class="leftNavLine" style="color:red"><div class="navLineHeader">Жизнь наших судов</div></a>

                                }
                                else
                                {
                                    <a asp-action="AllNews" asp-route-newsType="life" id="lifeNav" class="leftNavLine"><div class="navLineHeader">Жизнь наших судов</div></a>
                                }
                            </li>
                            <li>
                                @if (ViewBag.newsType == "newShips")
                                {
                                    <a asp-action="AllNews" asp-route-newsType="newShips" id="newShipsNav" class="leftNavLine" style="color:red"><div class="navLineHeader">Новости верфи</div></a>

                                }
                                else
                                {
                                    <a asp-action="AllNews" asp-route-newsType="newShips" id="newShipsNav" class="leftNavLine"><div class="navLineHeader">Новости верфи</div></a>
                                }
                            </li>
                            <li>
                                @if (ViewBag.newsType == null)
                                {
                                    <div id="allNewsNav" class="leftNavLine"><a asp-action="AllNews" class="navLineHeader" style="color:red">Все новости</a><div id="allNewsOpen" class="leftNavOpenCurrent">+</div><div id="allNewsClose" class="leftNavCloseCurrent">-</div></div>
                                }
                                else
                                {
                                    <div id="allNewsNav" class="leftNavLine"><a asp-action="AllNews" class="navLineHeader">Все новости</a><div id="allNewsOpen" class="leftNavOpen">+</div><div id="allNewsClose" class="leftNavClose">-</div></div>
                                }
                                @if (ViewBag.newsType == null)
                                {
                                    <ul id="allNews-Sub" class="leftSubNavOpenCurrent">
                                        @if (ViewBag.part == "new")
                                        {
                                            <li class="leftSubCategory">
                                                <a asp-action="AllNews" asp-route-part="new" style="color:red">@ViewBag.actualNews</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="leftSubCategory">
                                                <a asp-action="AllNews" asp-route-part="new">@ViewBag.actualNews</a>
                                            </li>
                                        }
                                        @if (ViewBag.part == "recent")
                                        {
                                            <li class="leftSubCategory">
                                                <a asp-action="AllNews" asp-route-part="recent" style="color:red">@ViewBag.recentNews</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="leftSubCategory">
                                                <a asp-action="AllNews" asp-route-part="recent">@ViewBag.recentNews</a>
                                            </li>
                                        }
                                        @if (ViewBag.part == "old")
                                        {
                                            <li class="leftSubCategory">
                                                <a asp-action="AllNews" asp-route-part="old" style="color:red">@ViewBag.oldNews</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="leftSubCategory">
                                                <a asp-action="AllNews" asp-route-part="old">@ViewBag.oldNews</a>
                                            </li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <ul id="allNews-Sub" class="leftSubNavOpen">
                                        @if (ViewBag.part == "new")
                                        {
                                            <li class="leftSubCategory">
                                                <a asp-action="AllNews" asp-route-part="new" style="color:red">@ViewBag.actualNews</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="leftSubCategory">
                                                <a asp-action="AllNews" asp-route-part="new">@ViewBag.actualNews</a>
                                            </li>
                                        }
                                        @if (ViewBag.part == "recent")
                                        {
                                            <li class="leftSubCategory">
                                                <a asp-action="AllNews" asp-route-part="recent" style="color:red">@ViewBag.recentNews</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="leftSubCategory">
                                                <a asp-action="AllNews" asp-route-part="recent">@ViewBag.recentNews</a>
                                            </li>
                                        }
                                        @if (ViewBag.part == "old")
                                        {
                                            <li class="leftSubCategory">
                                                <a asp-action="AllNews" asp-route-part="old" style="color:red">@ViewBag.oldNews</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="leftSubCategory">
                                                <a asp-action="AllNews" asp-route-part="old">@ViewBag.oldNews</a>
                                            </li>
                                        }
                                    </ul>
                                }

                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="leftNavMenu" style="justify-content:flex-start;">
                            <li>
                                @if (ViewBag.newsType == "smi")
                                {
                                    <a asp-action="AllNews" asp-route-newsType="smi" id="smiNav" class="leftNavLine" style="color:red"><div class="navLineHeader">СМИ о нас</div></a>

                                }
                                else
                                {
                                    <a asp-action="AllNews" asp-route-newsType="smi" id="smiNav" class="leftNavLine"><div class="navLineHeader">СМИ о нас</div></a>

                                }
                            </li>
                            <li>
                                @if (ViewBag.newsType == "life")
                                {
                                    <a asp-action="AllNews" asp-route-newsType="life" id="lifeNav" class="leftNavLine" style="color:red"><div class="navLineHeader">Жизнь наших судов</div></a>

                                }
                                else
                                {
                                    <a asp-action="AllNews" asp-route-newsType="life" id="lifeNav" class="leftNavLine"><div class="navLineHeader">Жизнь наших судов</div></a>
                                }
                            </li>
                            <li>
                                @if (ViewBag.newsType == "newShips")
                                {
                                    <a asp-action="AllNews" asp-route-newsType="newShips" id="newShipsNav" class="leftNavLine" style="color:red"><div class="navLineHeader">Новости верфи</div></a>

                                }
                                else
                                {
                                    <a asp-action="AllNews" asp-route-newsType="newShips" id="newShipsNav" class="leftNavLine"><div class="navLineHeader">Новости верфи</div></a>
                                }
                            </li>
                            <li>
                                @if (ViewBag.newsType == null)
                                {
                                    <div id="allNewsNav" class="leftNavLine"><a asp-action="AllNews" class="navLineHeader" style="color:red">Все новости</a><div id="allNewsOpen" class="leftNavOpenCurrent">+</div><div id="allNewsClose" class="leftNavCloseCurrent">-</div></div>
                                }
                                else
                                {
                                    <div id="allNewsNav" class="leftNavLine"><a asp-action="AllNews" class="navLineHeader">Все новости</a><div id="allNewsOpen" class="leftNavOpen">+</div><div id="allNewsClose" class="leftNavClose">-</div></div>
                                }
                                @if (ViewBag.newsType == null)
                                {
                                    <ul id="allNews-Sub" class="leftSubNavOpenCurrent">
                                        @if (ViewBag.part == "new")
                                        {
                                            <li class="leftSubCategory">
                                                <a asp-action="AllNews" asp-route-part="new" style="color:red">@ViewBag.actualNews</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="leftSubCategory">
                                                <a asp-action="AllNews" asp-route-part="new">@ViewBag.actualNews</a>
                                            </li>
                                        }
                                        @if (ViewBag.part == "recent")
                                        {
                                            <li class="leftSubCategory">
                                                <a asp-action="AllNews" asp-route-part="recent" style="color:red">@ViewBag.recentNews</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="leftSubCategory">
                                                <a asp-action="AllNews" asp-route-part="recent">@ViewBag.recentNews</a>
                                            </li>
                                        }
                                        @if (ViewBag.part == "old")
                                        {
                                            <li class="leftSubCategory">
                                                <a asp-action="AllNews" asp-route-part="old" style="color:red">@ViewBag.oldNews</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="leftSubCategory">
                                                <a asp-action="AllNews" asp-route-part="old">@ViewBag.oldNews</a>
                                            </li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <ul id="allNews-Sub" class="leftSubNavOpen">
                                        @if (ViewBag.part == "new")
                                        {
                                            <li class="leftSubCategory">
                                                <a asp-action="AllNews" asp-route-part="new" style="color:red">@ViewBag.actualNews</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="leftSubCategory">
                                                <a asp-action="AllNews" asp-route-part="new">@ViewBag.actualNews</a>
                                            </li>
                                        }
                                        @if (ViewBag.part == "recent")
                                        {
                                            <li class="leftSubCategory">
                                                <a asp-action="AllNews" asp-route-part="recent" style="color:red">@ViewBag.recentNews</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="leftSubCategory">
                                                <a asp-action="AllNews" asp-route-part="recent">@ViewBag.recentNews</a>
                                            </li>
                                        }
                                        @if (ViewBag.part == "old")
                                        {
                                            <li class="leftSubCategory">
                                                <a asp-action="AllNews" asp-route-part="old" style="color:red">@ViewBag.oldNews</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="leftSubCategory">
                                                <a asp-action="AllNews" asp-route-part="old">@ViewBag.oldNews</a>
                                            </li>
                                        }
                                    </ul>
                                }

                            </li>
                        </ul>
                    }
                </nav>*@
            <div class="ourContacts">
                <div>НАШИ КОНТАКТЫ</div>
                <div class="contactsLeft">
                    <div class="contactsUnit"><img src="~/images/icons/phone.png" class="contactsIcon" alt="cont" />&nbsp;+7 (814) 273-35-80</div>
                    <a style="cursor:pointer" href="http://www.varyag-onego.ru" target="_blank" class="contactsUnit"><img src="~/images/icons/global_114550x96.png" class="contactsIcon" />&nbsp;www.varyag-onego.ru</a>
                    <div class="contactsUnit"><img src="~/images/icons/email.png" alt="mail" class="contactsIcon" />&nbsp;varyag@onego.ru</div>
                </div>
            </div>
        </div>
        <div class="projectsHalf">
            <div class="topCatalogLine" style="margin-right:0;">
                <h1 class="categorysLineTtem" style="margin-block:0;justify-content:flex-start">@Model.ArticleName</h1>
            </div>
            <div style="margin-top:10px;background-color: white;border-radius: 10px">
                @if (@Model.Text1 != null)
                {
                    <div class="articleBlock">
                        <div class="articlePreviewBlokCreate">
                            <div>
                                @Html.Raw(@Model.Text1)
                            </div>
                            @if (@Model.PathToGallery1 != null)
                            {
                                <div>
                                    <div class="fotorama" data-nav="thumbs" data-width="100%" data-fit="contain" data-allowfullscreen="native">
                                        @await Component.InvokeAsync("Fotorama", new { articleId = 1, galleryPath = @Model.PathToGallery1 })
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                @if (@Model.Text2 != null)
                {
                    <div class="articleBlock">
                        <div class="articlePreviewBlokCreate">
                            <div>
                                @Html.Raw(@Model.Text2)
                            </div>
                            @if (@Model.PathToGallery2 != null)
                            {
                                <div>
                                    <div class="fotorama" data-nav="thumbs" data-width="100%" data-fit="contain" data-allowfullscreen="native">
                                        @await Component.InvokeAsync("Fotorama", new { articleId = 1, galleryPath = @Model.PathToGallery2 })
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                @if (@Model.Text3 != null)
                {
                    <div class="articleBlock">
                        <div class="articlePreviewBlokCreate">
                            <div>
                                @Html.Raw(@Model.Text3)
                            </div>
                            @if (@Model.PathToGallery3 != null)
                            {
                                <div>
                                    <div class="fotorama" data-nav="thumbs" data-width="100%" data-fit="contain" data-allowfullscreen="native">
                                        @await Component.InvokeAsync("Fotorama", new { articleId = 1, galleryPath = @Model.PathToGallery3 })
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                @if (@Model.Text4 != null)
                {
                    <div class="articleBlock">
                        <div class="articlePreviewBlokCreate">
                            <div>
                                @Html.Raw(@Model.Text4)
                            </div>
                            @if (@Model.PathToGallery4 != null)
                            {
                                <div>
                                    <div class="fotorama" data-nav="thumbs" data-width="100%" data-fit="contain" data-allowfullscreen="native">
                                        @await Component.InvokeAsync("Fotorama", new { articleId = 1, galleryPath = @Model.PathToGallery4 })
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                @if (@Model.Text5 != null)
                {
                    <div class="articleBlock">
                        <div class="articlePreviewBlokCreate">
                            <div>
                                @Html.Raw(@Model.Text5)
                            </div>
                            @if (@Model.PathToGallery5 != null)
                            {
                                <div>
                                    <div class="fotorama" data-nav="thumbs" data-width="100%" data-fit="contain" data-allowfullscreen="native">
                                        @await Component.InvokeAsync("Fotorama", new { articleId = 1, galleryPath = @Model.PathToGallery5 })
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                @if (@Model.Text6 != null)
                {
                    <div class="articleBlock">
                        <div class="articlePreviewBlokCreate">
                            <div>
                                @Html.Raw(@Model.Text6)
                            </div>
                            @if (@Model.PathToGallery6 != null)
                            {
                                <div>
                                    <div class="fotorama" data-nav="thumbs" data-width="100%" data-fit="contain" data-allowfullscreen="native">
                                        @await Component.InvokeAsync("Fotorama", new { articleId = 1, galleryPath = @Model.PathToGallery6 })
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                @if (@Model.Text7 != null)
                {
                    <div class="articleBlock">
                        <div class="articlePreviewBlokCreate">
                            <div>
                                @Html.Raw(@Model.Text7)
                            </div>
                            @if (@Model.PathToGallery7 != null)
                            {
                                <div>
                                    <div class="fotorama" data-nav="thumbs" data-width="100%" data-fit="contain" data-allowfullscreen="native">
                                        @await Component.InvokeAsync("Fotorama", new { articleId = 1, galleryPath = @Model.PathToGallery7 })
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                @if (@Model.Text8 != null)
                {
                    <div class="articleBlock">
                        <div class="articlePreviewBlokCreate">
                            <div>
                                @Html.Raw(@Model.Text8)
                            </div>
                            @if (@Model.PathToGallery8 != null)
                            {
                                <div>
                                    <div class="fotorama" data-nav="thumbs" data-width="100%" data-fit="contain" data-allowfullscreen="native">
                                        @await Component.InvokeAsync("Fotorama", new { articleId = 1, galleryPath = @Model.PathToGallery8 })
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                @if (@Model.Text9 != null)
                {
                    <div class="articleBlock">
                        <div class="articlePreviewBlokCreate">
                            <div>
                                @Html.Raw(@Model.Text9)
                            </div>
                            @if (@Model.PathToGallery9 != null)
                            {
                                <div>
                                    <div class="fotorama" data-nav="thumbs" data-width="100%" data-fit="contain" data-allowfullscreen="native">
                                        @await Component.InvokeAsync("Fotorama", new { articleId = 1, galleryPath = @Model.PathToGallery9 })
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                @if (@Model.Text10 != null)
                {
                    <div class="articleBlock">
                        <div class="articlePreviewBlokCreate">
                            <div>
                                @Html.Raw(@Model.Text10)
                            </div>
                            @if (@Model.PathToGallery10 != null)
                            {
                                <div>
                                    <div class="fotorama" data-nav="thumbs" data-width="100%" data-fit="contain" data-allowfullscreen="native">
                                        @await Component.InvokeAsync("Fotorama", new { articleId = 1, galleryPath = @Model.PathToGallery10 })
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                @if (@Model.Text11 != null)
                {
                    <div class="articleBlock">
                        <div class="articlePreviewBlokCreate">
                            <div>
                                @Html.Raw(@Model.Text11)
                            </div>
                            @if (@Model.PathToGallery11 != null)
                            {
                                <div>
                                    <div class="fotorama" data-nav="thumbs" data-width="100%" data-fit="contain" data-allowfullscreen="native">
                                        @await Component.InvokeAsync("Fotorama", new { articleId = 1, galleryPath = @Model.PathToGallery11 })
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                @if (@Model.Text12 != null)
                {
                    <div class="articleBlock">
                        <div class="articlePreviewBlokCreate">
                            <div>
                                @Html.Raw(@Model.Text12)
                            </div>
                            @if (@Model.PathToGallery12 != null)
                            {
                                <div>
                                    <div class="fotorama" data-nav="thumbs" data-width="100%" data-fit="contain" data-allowfullscreen="native">
                                        @await Component.InvokeAsync("Fotorama", new { articleId = 1, galleryPath = @Model.PathToGallery12 })
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                @if (@Model.Text13 != null)
                {
                    <div class="articleBlock">
                        <div class="articlePreviewBlokCreate">
                            <div>
                                @Html.Raw(@Model.Text13)
                            </div>
                            @if (@Model.PathToGallery13 != null)
                            {
                                <div>
                                    <div class="fotorama" data-nav="thumbs" data-width="100%" data-fit="contain" data-allowfullscreen="native">
                                        @await Component.InvokeAsync("Fotorama", new { articleId = 1, galleryPath = @Model.PathToGallery13 })
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                @if (@Model.Text14 != null)
                {
                    <div class="articleBlock">
                        <div class="articlePreviewBlokCreate">
                            <div>
                                @Html.Raw(@Model.Text14)
                            </div>
                            @if (@Model.PathToGallery14 != null)
                            {
                                <div>
                                    <div class="fotorama" data-nav="thumbs" data-width="100%" data-fit="contain" data-allowfullscreen="native">
                                        @await Component.InvokeAsync("Fotorama", new { articleId = 1, galleryPath = @Model.PathToGallery14 })
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                @if (@Model.Text15 != null)
                {
                    <div class="articleBlock">
                        <div class="articlePreviewBlokCreate">
                            <div>
                                @Html.Raw(@Model.Text15)
                            </div>
                            @if (@Model.PathToGallery15 != null)
                            {
                                <div>
                                    <div class="fotorama" data-nav="thumbs" data-width="100%" data-fit="contain" data-allowfullscreen="native">
                                        @await Component.InvokeAsync("Fotorama", new { articleId = 1, galleryPath = @Model.PathToGallery15 })
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>