@model Varyag.Models.Article
@{
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<div class="MyContainer">
    <div class="path">
        <a asp-action="Index" asp-controller="About">Главная</a> > <a href="../../../o-nas">О нас</a> > <a>@Model.ArticleName</a>
    </div>
    <div class="contentBlock">
        <div id="blackScreen" onclick="navigationButton()" class="blackScreen"></div>
        <div class="leftMenu">
            <nav>
                <ul class="leftNavMenu" style="justify-content:flex-start;padding-bottom:79px">
                    <li id="catalogWord">
                        <div class="leftNavLine"><a href="../../../katalog" class="navLineHeader">Каталог</a></div>
                    </li>
                    <li>
                        <div class="leftNavLine"><a href="../../../o-nas" class="navLineHeader">О верфи "Варяг"</a></div>
                    </li>
                    <li>
                        <div class="leftNavLine"><div id="articlesOpen" class="leftNavOpenCurrent">+</div><div id="articlesClose" class="leftNavCloseCurrent">-</div><a href="../../../o-nas/stati?actualNews=@ViewBag.actualNews&recentNews=@ViewBag.recentNews&oldNews=@ViewBag.oldNews" class="leftNavLine"><div style="color: #e81010">Статьи</div></a></div>
                        <ul id="articles-sub" class="leftSubNavOpenCurrent">
                            @if (ViewBag.type == "Заказы для музеев")
                            {
                                <li class="leftSubCategory">
                                    <h2><a href="../../../o-nas/stati?actualNews=@ViewBag.actualNews&recentNews=@ViewBag.recentNews&oldNews=@ViewBag.oldNews&type=Заказы для музеев" style="color: #e81010" id="museums">Заказы для музеев</a></h2>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <h2><a href="../../../o-nas/stati?actualNews=@ViewBag.actualNews&recentNews=@ViewBag.recentNews&oldNews=@ViewBag.oldNews&type=Заказы для музеев" id="museums">Заказы для музеев</a></h2>
                                </li>
                            }
                            @if (ViewBag.type == "Заказы для кино")
                            {
                                <li class="leftSubCategory">
                                    <h2><a href="../../../o-nas/stati?actualNews=@ViewBag.actualNews&recentNews=@ViewBag.recentNews&oldNews=@ViewBag.oldNews&type=Заказы для кино" style="color: #e81010" id="museums">Заказы для кино</a></h2>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <h2><a href="../../../o-nas/stati?actualNews=@ViewBag.actualNews&recentNews=@ViewBag.recentNews&oldNews=@ViewBag.oldNews&type=Заказы для кино" id="museums">Заказы для кино</a></h2>
                                </li>
                            }
                        </ul>
                    </li>
                    <li>
                        <div id="themeNewsNav" class="leftNavLine" style="margin-top:46px"><div id="themeNewsOpen" class="leftNavOpenCurrent">+</div><div id="themeNewsClose" class="leftNavCloseCurrent">-</div><a href="../../../o-nas/nashi-novosti">Наши новости</a></div>
                        <ul id="themeNews-sub" class="leftSubNavOpenCurrent">
                            @if (ViewBag.newsType == "smi")
                            {
                                <li class="leftSubCategory">
                                    <h2><a href="../../../o-nas/nashi-novosti?newsType=smi" style="color: #e81010" id="smiNav">СМИ о нас</a></h2>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <h2><a href="../../../o-nas/nashi-novosti?newsType=smi" id="smiNav">СМИ о нас</a></h2>
                                </li>
                            }
                            @if (ViewBag.newsType == "life")
                            {
                                <li class="leftSubCategory">
                                    <h2><a href="../../../o-nas/nashi-novosti?newsType=life" style="color: #e81010" id="lifeNav">Жизнь наших судов</a></h2>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <h2><a href="../../../o-nas/nashi-novosti?newsType=life" id="lifeNav">Жизнь наших судов</a></h2>
                                </li>
                            }
                            @if (ViewBag.newsType == "newShips")
                            {
                                <li class="leftSubCategory">
                                    <h2><a href="../../../o-nas/nashi-novosti?newsType=newShips" style="color: #e81010" id="newShipsNav">Новости верфи</a></h2>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <h2><a href="../../../o-nas/nashi-novosti?newsType=newShips" id="newShipsNav">Новости верфи</a></h2>
                                </li>
                            }
                        </ul>
                    </li>
                    <li>
                        <div id="allNewsNav" class="leftNavLine" style="margin-top:69px"><div id="allNewsOpen" class="leftNavOpenCurrent">+</div><div id="allNewsClose" class="leftNavCloseCurrent">-</div><a href="../../../o-nas/nashi-novosti?newsType=byType">Архив</a></div>
                        <ul id="allNews-Sub" class="leftSubNavOpenCurrent">
                            <li class="leftSubCategory">
                                <a href="../../../o-nas/nashi-novosti?part=new&newsType=byType">@ViewBag.actualNews</a>
                            </li>
                            <li class="leftSubCategory">
                                <a href="../../../o-nas/nashi-novosti?part=recent&newsType=byType">@ViewBag.recentNews</a>
                            </li>
                            <li class="leftSubCategory">
                                <a href="../../../o-nas/nashi-novosti?part=old&newsType=byType">@ViewBag.oldNews</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <partial name="ContactsLeft" />
        </div>
        <div class="projectsHalf" id="newsProjectsHalf">
            <div class="topCatalogLine" id="newsDetails">
                <h1 class="categorysLineItemHeader">@Model.ArticleName</h1>
                @if (@Model.Text1 != null)
                {
                    <div class="newsDetailsStory">
                        @Html.Raw(@Model.Text1)
                    </div>
                    @if (@Model.PathToGallery1 != null)
                    {
                        <div class="fotorama" style="width:95%;" data-nav="thumbs" data-width="100%" data-fit="scaledown" data-allowfullscreen="native">
                            @await Component.InvokeAsync("Fotorama", new { articleId = @Model.ArticleId, galleryPath = @Model.PathToGallery1, singleFoto = false })
                        </div>
                    }
                }
                @if (@Model.Text2 != null)
                {
                    <div class="newsDetailsStory">
                        @Html.Raw(@Model.Text2)
                    </div>
                    @if (@Model.PathToGallery2 != null)
                    {
                        <div class="fotorama" style="width:95%;" data-nav="thumbs" data-width="100%" data-fit="scaledown" data-allowfullscreen="native">
                            @await Component.InvokeAsync("Fotorama", new { articleId = @Model.ArticleId, galleryPath = @Model.PathToGallery2, singleFoto = false })
                        </div>
                    }
                }
                @if (@Model.Text3 != null)
                {
                    <div class="newsDetailsStory">
                        @Html.Raw(@Model.Text3)
                    </div>
                    @if (@Model.PathToGallery3 != null)
                    {
                        <div class="fotorama" style="width:95%;" data-nav="thumbs" data-width="100%" data-fit="scaledown" data-allowfullscreen="native">
                            @await Component.InvokeAsync("Fotorama", new { articleId = 1, galleryPath = @Model.PathToGallery3, singleFoto = false })
                        </div>
                    }
                }
                @if (@Model.Text4 != null)
                {
                    <div class="newsDetailsStory">
                        @Html.Raw(@Model.Text4)
                    </div>
                    @if (@Model.PathToGallery4 != null)
                    {
                        <div class="fotorama" style="width:95%;" data-nav="thumbs" data-width="100%" data-fit="scaledown" data-allowfullscreen="native">
                            @await Component.InvokeAsync("Fotorama", new { articleId = 1, galleryPath = @Model.PathToGallery4, singleFoto = false })
                        </div>
                    }
                }
                @if (@Model.Text5 != null)
                {
                    <div class="newsDetailsStory">
                        @Html.Raw(@Model.Text5)
                    </div>
                    @if (@Model.PathToGallery5 != null)
                    {
                        <div class="fotorama" style="width:95%;" data-nav="thumbs" data-width="100%" data-fit="scaledown" data-allowfullscreen="native">
                            @await Component.InvokeAsync("Fotorama", new { articleId = 1, galleryPath = @Model.PathToGallery5, singleFoto = false })
                        </div>
                    }
                }
                @if (@Model.Text6 != null)
                {
                    <div class="newsDetailsStory">
                        @Html.Raw(@Model.Text6)
                    </div>
                    @if (@Model.PathToGallery6 != null)
                    {
                        <div class="fotorama" style="width:95%;" data-nav="thumbs" data-width="100%" data-fit="scaledown" data-allowfullscreen="native">
                            @await Component.InvokeAsync("Fotorama", new { articleId = 1, galleryPath = @Model.PathToGallery6, singleFoto = false })
                        </div>
                    }
                }
                @if (@Model.Text7 != null)
                {
                    <div class="newsDetailsStory">
                        @Html.Raw(@Model.Text7)
                    </div>
                    @if (@Model.PathToGallery7 != null)
                    {
                        <div class="fotorama" style="width:95%;" data-nav="thumbs" data-width="100%" data-fit="scaledown" data-allowfullscreen="native">
                            @await Component.InvokeAsync("Fotorama", new { articleId = 1, galleryPath = @Model.PathToGallery7, singleFoto = false })
                        </div>
                    }
                }
                @if (@Model.Text8 != null)
                {
                    <div class="newsDetailsStory">
                        @Html.Raw(@Model.Text8)
                    </div>
                    @if (@Model.PathToGallery8 != null)
                    {
                        <div class="fotorama" style="width:99%;" data-nav="thumbs" data-width="100%" data-fit="scaledown" data-allowfullscreen="native">
                            @await Component.InvokeAsync("Fotorama", new { articleId = 1, galleryPath = @Model.PathToGallery8, singleFoto = false })
                        </div>
                    }
                }
                @if (@Model.Text9 != null)
                {
                    <div class="newsDetailsStory">
                        @Html.Raw(@Model.Text9)
                    </div>
                    @if (@Model.PathToGallery9 != null)
                    {
                        <div class="fotorama" style="width:95%;" data-nav="thumbs" data-width="100%" data-fit="scaledown" data-allowfullscreen="native">
                            @await Component.InvokeAsync("Fotorama", new { articleId = 1, galleryPath = @Model.PathToGallery9, singleFoto = false })
                        </div>
                    }
                }
                @if (@Model.Text10 != null)
                {
                    <div class="newsDetailsStory">
                        @Html.Raw(@Model.Text10)
                    </div>
                    @if (@Model.PathToGallery10 != null)
                    {
                        <div class="fotorama" style="width:95%;" data-nav="thumbs" data-width="100%" data-fit="scaledown" data-allowfullscreen="native">
                            @await Component.InvokeAsync("Fotorama", new { articleId = 1, galleryPath = @Model.PathToGallery10, singleFoto = false })
                        </div>
                    }
                }
                @if (@Model.Text11 != null)
                {
                    <div class="newsDetailsStory">
                        @Html.Raw(@Model.Text11)
                    </div>
                    @if (@Model.PathToGallery11 != null)
                    {
                        <div class="fotorama" style="width:95%;" data-nav="thumbs" data-width="100%" data-fit="scaledown" data-allowfullscreen="native">
                            @await Component.InvokeAsync("Fotorama", new { articleId = 1, galleryPath = @Model.PathToGallery11, singleFoto = false })
                        </div>
                    }
                }
                @if (@Model.Text12 != null)
                {
                    <div class="newsDetailsStory">
                        @Html.Raw(@Model.Text12)
                    </div>
                    @if (@Model.PathToGallery12 != null)
                    {
                        <div class="fotorama" style="width:95%;" data-nav="thumbs" data-width="100%" data-fit="scaledown" data-allowfullscreen="native">
                            @await Component.InvokeAsync("Fotorama", new { articleId = 1, galleryPath = @Model.PathToGallery12, singleFoto = false })
                        </div>
                    }
                }
                @if (@Model.Text13 != null)
                {
                    <div class="newsDetailsStory">
                        @Html.Raw(@Model.Text13)
                    </div>
                    @if (@Model.PathToGallery13 != null)
                    {
                        <div class="fotorama" style="width:95%;" data-nav="thumbs" data-width="100%" data-fit="scaledown" data-allowfullscreen="native">
                            @await Component.InvokeAsync("Fotorama", new { articleId = 1, galleryPath = @Model.PathToGallery13, singleFoto = false })
                        </div>
                    }
                }
                @if (@Model.Text14 != null)
                {
                    <div class="newsDetailsStory">
                        @Html.Raw(@Model.Text14)
                    </div>
                    @if (@Model.PathToGallery14 != null)
                    {
                        <div class="fotorama" style="width:95%;" data-nav="thumbs" data-width="100%" data-fit="scaledown" data-allowfullscreen="native">
                            @await Component.InvokeAsync("Fotorama", new { articleId = 1, galleryPath = @Model.PathToGallery14, singleFoto = false })
                        </div>
                    }
                }
                @if (@Model.Text15 != null)
                {
                    <div class="newsDetailsStory">
                        @Html.Raw(@Model.Text15)
                    </div>
                    @if (@Model.PathToGallery15 != null)
                    {
                        <div class="fotorama" style="width:95%;" data-nav="thumbs" data-width="100%" data-fit="scaledown" data-allowfullscreen="native">
                            @await Component.InvokeAsync("Fotorama", new { articleId = 1, galleryPath = @Model.PathToGallery15, singleFoto = false })
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>