@model Varyag.Models.News
@{
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<div class="MyContainer" style="font-size:1.3rem">
    <div class="path">
        <a href="../../О-Нас">Главная</a> > <a>О нас</a> > <a>@Model.Header</a>
    </div>

    <div class="contentBlock">
        <div id="blackScreen" onclick="navigationButton()" class="blackScreen"></div>
        <div class="leftMenu" id="newAndArticles">
            <nav>
                @if (ViewBag.newsType != "byType")
                {
                <ul class="leftNavMenu" style="justify-content:flex-start;padding-bottom:79px">
                    <li id="catalogWord">
                        <div class="leftNavLine"><a asp-action="CatalogNavigation" asp-controller="Catalog" class="navLineHeader">Каталог</a></div>
                    </li>
                    <li>
                        <div class="leftNavLine"><a asp-action="AllArticles" asp-route-actualNews="@ViewBag.actualNews" asp-route-recentNews="@ViewBag.recentNews" asp-route-oldNews="@ViewBag.oldNews" class="leftNavLine"><div class="navLineHeader">Статьи</div></a><div id="articlesOpen" class="leftNavOpenCurrent">+</div><div id="articlesClose" class="leftNavCloseCurrent">-</div></div>
                        <ul id="articles-sub" class="leftSubNavOpenCurrent">
                            <li class="leftSubCategory">
                                <a asp-action="AllArticles" asp-route-actualNews="@ViewBag.actualNews" asp-route-recentNews="@ViewBag.recentNews" asp-route-oldNews="@ViewBag.oldNews" asp-route-type="Заказы для музеев" id="museums">Заказы для музеев</a>
                            </li>
                            <li class="leftSubCategory">
                                <a asp-action="AllArticles" asp-route-actualNews="@ViewBag.actualNews" asp-route-recentNews="@ViewBag.recentNews" asp-route-oldNews="@ViewBag.oldNews" asp-route-type="Заказы для кино" id="movies">Заказы для кино</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div id="themeNewsNav" class="leftNavLine" style="margin-top:46px"><a asp-action="AllNews" class="navLineHeader" style="color:red">Наши новости</a><div id="themeNewsOpen" class="leftNavOpenCurrent">+</div><div id="themeNewsClose" class="leftNavCloseCurrent">-</div></div>
                        <ul id="themeNews-sub" class="leftSubNavOpenCurrent">
                            @if (ViewBag.newsType == "smi")
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="AllNews" asp-route-newsType="smi" style="color:red" id="smiNav">СМИ о нас</a>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="AllNews" asp-route-newsType="smi" id="smiNav">СМИ о нас</a>
                                </li>
                            }
                            @if (ViewBag.newsType == "life")
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="AllNews" asp-route-newsType="life" style="color:red" id="lifeNav">Жизнь наших судов</a>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="AllNews" asp-route-newsType="life" id="lifeNav">Жизнь наших судов</a>
                                </li>
                            }
                            @if (ViewBag.newsType == "newShips")
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="AllNews" asp-route-newsType="newShips" style="color:red" id="newShipsNav">Новости верфи</a>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="AllNews" asp-route-newsType="newShips" id="newShipsNav">Новости верфи</a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li>
                        <div id="allNewsNav" class="leftNavLine" style="margin-top:69px"><a asp-action="AllNews" asp-route-newsType="byType" class="navLineHeader">Архив</a><div id="allNewsOpen" class="leftNavOpenCurrent">+</div><div id="allNewsClose" class="leftNavCloseCurrent">-</div></div>
                        <ul id="allNews-Sub" class="leftSubNavOpenCurrent">
                            <li class="leftSubCategory">
                                <a asp-action="AllNews" asp-route-part="new" asp-route-newsType="byType">@ViewBag.actualNews</a>
                            </li>
                            <li class="leftSubCategory">
                                <a asp-action="AllNews" asp-route-part="recent" asp-route-newsType="byType">@ViewBag.recentNews</a>
                            </li>
                            <li class="leftSubCategory">
                                <a asp-action="AllNews" asp-route-part="old" asp-route-newsType="byType">@ViewBag.oldNews</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                }
                else
                {
                    <ul class="leftNavMenu" style="justify-content:flex-start;padding-bottom:79px">
                        <li>
                            <a asp-action="AllArticles" asp-route-actualNews="@ViewBag.actualNews" asp-route-recentNews="@ViewBag.recentNews" asp-route-oldNews="@ViewBag.oldNews" class="leftNavLine"><div class="navLineHeader">Особые заказы</div></a>
                        </li>
                        <li>
                            <div class="leftNavLine"><a asp-action="AllNews" class="navLineHeader">Наши новости</a><div id="themeNewsOpen" class="leftNavOpenCurrent">+</div><div id="themeNewsClose" class="leftNavCloseCurrent">-</div></div>
                            <ul id="themeNews-sub" class="leftSubNavOpenCurrent">
                                <li class="leftSubCategory">
                                    <a asp-action="AllNews" asp-route-newsType="smi" id="smiNav" class="leftNavLine">СМИ о нас</a>
                                </li>
                                <li class="leftSubCategory">
                                    <a asp-action="AllNews" asp-route-newsType="life" id="lifeNav" class="leftNavLine">Жизнь наших судов</a>
                                </li>
                                <li class="leftSubCategory">
                                    <a asp-action="AllNews" asp-route-newsType="newShips" id="newShipsNav" class="leftNavLine">Новости верфи</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div id="allNewsNav" class="leftNavLine" style="margin-top:69px"><a asp-action="AllNews" asp-route-newsType="byType" class="navLineHeader" style="color:red">Архив</a><div id="allNewsOpen" class="leftNavOpenCurrent">+</div><div id="allNewsClose" class="leftNavCloseCurrent">-</div></div>
                            <ul id="allNews-Sub" class="leftSubNavOpenCurrent">
                                @if (ViewBag.part == "new")
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="new" asp-route-newsType="byType" style="color:red">@ViewBag.actualNews</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="new" asp-route-newsType="byType">@ViewBag.actualNews</a>
                                    </li>
                                }
                                @if (ViewBag.part == "recent")
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="recent" asp-route-newsType="byType" style="color:red">@ViewBag.recentNews</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="recent" asp-route-newsType="byType">@ViewBag.recentNews</a>
                                    </li>
                                }
                                @if (ViewBag.part == "old")
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="old" asp-route-newsType="byType" style="color:red">@ViewBag.oldNews</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="leftSubCategory">
                                        <a asp-action="AllNews" asp-route-part="old" asp-route-newsType="byType">@ViewBag.oldNews</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                }
            </nav>
            <div class="ourContacts">
                <div>НАШИ КОНТАКТЫ</div>
                <div class="contactsLeft">
                    <div class="contactsUnit"><img src="~/images/icons/phone.png" class="contactsIcon" alt="cont" />&nbsp;+7 (814) 273-35-80</div>
                    <a style="cursor:pointer" href="http://www.varyag-onego.ru" target="_blank" class="contactsUnit"><img src="~/images/icons/global_114550x96.png" class="contactsIcon" />&nbsp;www.varyag-onego.ru</a>
                    <div class="contactsUnit"><img src="~/images/icons/email.png" alt="mail" class="contactsIcon" />&nbsp;varyag@onego.ru</div>
                </div>
            </div>
        </div>
        <div class="projectsHalf" id="newsDetailsProjectsHalf">
            <div class="topCatalogLine" id="newsDetails">
                <h1 class="categorysLineItemHeader">@Model.Header</h1>
                <div class="newsDetailsStory">@Html.Raw(Model.MainStory)</div>
                @if (Model.PathToGallery != null)
                {
                    <div class="fotorama" style="width:99%;" data-nav="thumbs" data-width="100%" data-fit="contain" data-allowfullscreen="native">
                        @await Component.InvokeAsync("Fotorama", new { newsId = Model.NewsId })
                    </div>
                }
            </div>
            @if (LittleHelper.NullCounter(Model.PathToVideo1, Model.PathToVideo2, Model.PathToVideo3) < 2)
            {
                <div class="newsNav">
                    @if (Model.PathToVideo1 != null)
                    {
                        <div class="nav-element-minor" style="cursor:pointer" id="videoOne">
                            <div class="nav-element-inside">
                                <p>Сюжет №1</p>
                            </div>
                            <input type="text" value="@Model.PathToVideo1" id="firstVideoUrl" hidden />
                        </div>
                    }
                    @if (Model.PathToVideo2 != null)
                    {
                        <div class="nav-element-minor" style="cursor:pointer" id="videoTwo">
                            <div class="nav-element-inside">
                                @if (Model.PathToVideo1 == null)
                                {
                                    <p>Сюжет №1</p>
                                }
                                else
                                {
                                    <p>Сюжет №2</p>
                                }
                            </div>
                            <input type="text" value="@Model.PathToVideo2" id="secondVideoUrl" hidden />
                        </div>
                    }
                    @if (Model.PathToVideo3 != null)
                    {
                        <div class="nav-element-minor" style="cursor:pointer" id="videoThree">
                            <div class="nav-element-inside">
                                @if (Model.PathToVideo1 == null && Model.PathToVideo2 == null)
                                {
                                    <p>Сюжет №1</p>
                                }
                                @if (Model.PathToVideo2 == null && Model.PathToVideo1 != null)
                                {
                                    <p>Сюжет №2</p>
                                }
                                @if (Model.PathToVideo2 != null && Model.PathToVideo1 != null)
                                {
                                    <p>Сюжет №3</p>
                                }
                            </div>
                            <input type="text" value="@Model.PathToVideo3" id="thirdVideoUrl" hidden />
                        </div>
                    }
                </div>
            }

            @*На случай если только 1 видео и находится оно в разных ячейках*@

            @if (Model.PathToVideo1 != null && Model.PathToVideo2 == null && Model.PathToVideo3 == null)
            {
                <div class="newsVideoPlayer" id="videoPlayer">
                    <iframe src="@Model.PathToVideo1" class="iframeForVideo" frameborder="0" id="firstVideo" allowfullscreen></iframe>
                </div>
            }
            @if (Model.PathToVideo1 == null && Model.PathToVideo2 != null && Model.PathToVideo3 == null)
            {
                <div class="newsVideoPlayer" id="videoPlayer">
                    <iframe src="@Model.PathToVideo2" class="iframeForVideo" frameborder="0" id="firstVideo" allowfullscreen></iframe>
                </div>
            }
            @if (Model.PathToVideo1 == null && Model.PathToVideo2 == null && Model.PathToVideo3 != null)
            {
                <div class="newsVideoPlayer" id="videoPlayer">
                    <iframe src="@Model.PathToVideo3" class="iframeForVideo" frameborder="0" id="firstVideo" allowfullscreen></iframe>
                </div>
            }
            @if (Model.PathToVideo1 != null && Model.PathToVideo2 != null && Model.PathToVideo3 == null)
            {
                <div class="newsVideoPlayer" id="videoPlayer">
                    <iframe src="@Model.PathToVideo1" class="iframeForVideo" frameborder="0" id="firstVideo" allowfullscreen></iframe>
                </div>
            }
            @if (Model.PathToVideo1 != null && Model.PathToVideo2 == null && Model.PathToVideo3 != null)
            {
                <div class="newsVideoPlayer" id="videoPlayer">
                    <iframe src="@Model.PathToVideo1" class="iframeForVideo" frameborder="0" id="firstVideo" allowfullscreen></iframe>
                </div>
            }
            @if (Model.PathToVideo1 == null && Model.PathToVideo2 != null && Model.PathToVideo3 != null)
            {
                <div class="newsVideoPlayer" id="videoPlayer">
                    <iframe src="@Model.PathToVideo2" class="iframeForVideo" frameborder="0" id="firstVideo" allowfullscreen></iframe>
                </div>
            }
            @if (Model.PathToVideo1 != null && Model.PathToVideo2 != null && Model.PathToVideo3 != null)
            {
                <div class="newsVideoPlayer" id="videoPlayer">
                    <iframe src="@Model.PathToVideo1" class="iframeForVideo" frameborder="0" id="firstVideo" allowfullscreen></iframe>
                </div>
            }
        </div>
    </div>
    </div>






    