@model Varyag.Models.Project

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div style="flex: 1 1 100%; margin:20px">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProjectID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label"></label>
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Windth" class="control-label"></label>
                <input asp-for="Windth" class="form-control" />
                <span asp-validation-for="Windth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deep" class="control-label"></label>
                <input asp-for="Deep" class="form-control" />
                <span asp-validation-for="Deep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volume" class="control-label"></label>
                <input asp-for="Volume" class="form-control" />
                <span asp-validation-for="Volume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mass" class="control-label"></label>
                <input asp-for="Mass" class="form-control" />
                <span asp-validation-for="Mass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfOars" class="control-label"></label>
                <input asp-for="NumberOfOars" class="form-control" />
                <span asp-validation-for="NumberOfOars" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnginePower" class="control-label"></label>
                <input asp-for="EnginePower" class="form-control" />
                <span asp-validation-for="EnginePower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Speed" class="control-label"></label>
                <input asp-for="Speed" class="form-control" />
                <span asp-validation-for="Speed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SailArea" class="control-label"></label>
                <input asp-for="SailArea" class="form-control" />
                <span asp-validation-for="SailArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SleepingAreas" class="control-label"></label>
                <input asp-for="SleepingAreas" class="form-control" />
                <span asp-validation-for="SleepingAreas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassengerCap" class="control-label"></label>
                <input asp-for="PassengerCap" class="form-control" />
                <span asp-validation-for="PassengerCap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuelCap" class="control-label"></label>
                <input asp-for="FuelCap" class="form-control" />
                <span asp-validation-for="FuelCap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FreshWaterCap" class="control-label"></label>
                <input asp-for="FreshWaterCap" class="form-control" />
                <span asp-validation-for="FreshWaterCap" class="text-danger"></span>
            </div>

            <div>
                <table style="margin-bottom:30px; ">
                    <tr>
                        <td>
                            Схема
                        </td>
                        <td>
                            <img width="120" height="90" src="@Url.Action("ProjectImageRender", new { id = Model.ProjectID, fot = "sheme"})">
                        </td>
                        <td>
                            Основная фотка
                        </td>
                        <td>
                            <img width="120" height="90" src="@Url.Action("ProjectImageRender", new { id = Model.ProjectID, fot = "main"})">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="file" asp-for="ShipSheme" class="form-control" />
                            <span asp-validation-for="ShipSheme" class="text-danger"></span>
                        </td>
                        <td colspan="2">
                            <input type="file" value="" asp-for="MainFoto" class="form-control" />
                            <span asp-validation-for="MainFoto" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
            </div>

            <div style="display:flex; justify-content:space-between">
                <div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="BoatRow" /> @Html.DisplayNameFor(model => model.BoatRow)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="BoatSail" /> @Html.DisplayNameFor(model => model.BoatSail)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="BoatTraditional" /> @Html.DisplayNameFor(model => model.BoatTraditional)
                        </label>
                    </div>
                </div>
                <div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="BoatYal" /> @Html.DisplayNameFor(model => model.BoatYal)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="KaterRow" /> @Html.DisplayNameFor(model => model.KaterRow)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Botik" /> @Html.DisplayNameFor(model => model.Botik)
                        </label>
                    </div>
                </div>
                <div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Motosailer" /> @Html.DisplayNameFor(model => model.Motosailer)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="KaterCabin" /> @Html.DisplayNameFor(model => model.KaterCabin)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="KaterFish" /> @Html.DisplayNameFor(model => model.KaterFish)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="KaterPass" /> @Html.DisplayNameFor(model => model.KaterPass)
                        </label>
                    </div>
                </div>
                <div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="LadyaRow" /> @Html.DisplayNameFor(model => model.LadyaRow)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="LadyaSail" /> @Html.DisplayNameFor(model => model.LadyaSail)
                        </label>
                    </div>
                </div>
                <div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Yacht" /> @Html.DisplayNameFor(model => model.Yacht)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Shvertbot" /> @Html.DisplayNameFor(model => model.Shvertbot)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="SailboatStudy" /> @Html.DisplayNameFor(model => model.SailboatStudy)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="SailboatHistorical" /> @Html.DisplayNameFor(model => model.SailboatHistorical)
                        </label>
                    </div>
                </div>
                <div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="MaketStudy" /> @Html.DisplayNameFor(model => model.MaketStudy)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="MaketCinema" /> @Html.DisplayNameFor(model => model.MaketCinema)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="MaketMuseum" /> @Html.DisplayNameFor(model => model.MaketMuseum)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="MaketDesign" /> @Html.DisplayNameFor(model => model.MaketDesign)
                        </label>
                    </div>
                </div>
                <div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="KaterProject" /> @Html.DisplayNameFor(model => model.KaterProject)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="LadyaProject" /> @Html.DisplayNameFor(model => model.LadyaProject)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="SailboatProject" /> @Html.DisplayNameFor(model => model.SailboatProject)
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea rows="10" placeholder="Введите описание проекта" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
