@model IEnumerable<Varyag.Models.Project>

@{
    ViewData["Title"] = "Проекты";
}

<h1>Проекты:</h1>

<p>
    <a asp-action="Create">Добавить проект</a>
</p>

@foreach (var item in Model)
{
    <table class="table">
        <tr><td colspan="13"><h3>@Html.DisplayFor(modelItem => item.Name)</h3></td></tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Length)</td>
            <td>@Html.DisplayNameFor(model => model.Windth)</td>
            <td>@Html.DisplayNameFor(model => model.Deep)</td>
            <td>@Html.DisplayNameFor(model => model.Volume)</td>
            <td>@Html.DisplayNameFor(model => model.Mass)</td>
            <td>@Html.DisplayNameFor(model => model.NumberOfOars)</td>
            <td>@Html.DisplayNameFor(model => model.EnginePower)</td>
            <td>@Html.DisplayNameFor(model => model.Speed)</td>
            <td>@Html.DisplayNameFor(model => model.SailArea)</td>
            <td>@Html.DisplayNameFor(model => model.SleepingAreas)</td>
            <td>@Html.DisplayNameFor(model => model.PassengerCap)</td>
            <td>@Html.DisplayNameFor(model => model.FuelCap)</td>
            <td>@Html.DisplayNameFor(model => model.FreshWaterCap)</td>
        </tr>
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Length)</td>
            <td>@Html.DisplayFor(modelItem => item.Windth)</td>
            <td>@Html.DisplayFor(modelItem => item.Deep)</td>
            <td>@Html.DisplayFor(modelItem => item.Volume)</td>
            <td>@Html.DisplayFor(modelItem => item.Mass)</td>
            <td>@Html.DisplayFor(modelItem => item.NumberOfOars)</td>
            <td>@Html.DisplayFor(modelItem => item.EnginePower)</td>
            <td>@Html.DisplayFor(modelItem => item.Speed)</td>
            <td>@Html.DisplayFor(modelItem => item.SailArea)</td>
            <td>@Html.DisplayFor(modelItem => item.SleepingAreas)</td>
            <td>@Html.DisplayFor(modelItem => item.PassengerCap)</td>
            <td>@Html.DisplayFor(modelItem => item.FuelCap)</td>
            <td>@Html.DisplayFor(modelItem => item.FreshWaterCap)</td>
        </tr>
        <tr>
            <td colspan="13">
                <div style="display:flex; justify-content:space-between">
                    <div>
                        <div>
                            @Html.DisplayNameFor(model => model.BoatRow) @Html.DisplayFor(modelItem => item.BoatRow)
                        </div>
                        <div>
                            @Html.DisplayNameFor(model => model.BoatSail) @Html.DisplayFor(modelItem => item.BoatSail)
                        </div>
                        <div>
                            @Html.DisplayNameFor(model => model.BoatTraditional) @Html.DisplayFor(modelItem => item.BoatTraditional)
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DisplayNameFor(model => model.BoatYal) @Html.DisplayFor(modelItem => item.BoatYal)
                        </div>
                        <div>
                            @Html.DisplayNameFor(model => model.KaterRow) @Html.DisplayFor(modelItem => item.KaterRow)
                        </div>
                        <div>
                            @Html.DisplayNameFor(model => model.Botik) @Html.DisplayFor(modelItem => item.Botik)
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DisplayNameFor(model => model.Motosailer) @Html.DisplayFor(modelItem => item.Motosailer)
                        </div>
                        <div>
                            @Html.DisplayNameFor(model => model.KaterCabin) @Html.DisplayFor(modelItem => item.KaterCabin)
                        </div>
                        <div>
                            @Html.DisplayNameFor(model => model.KaterFish) @Html.DisplayFor(modelItem => item.KaterFish)
                        </div>
                        <div>
                            @Html.DisplayNameFor(model => model.KaterPass) @Html.DisplayFor(modelItem => item.KaterPass)
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DisplayNameFor(model => model.LadyaRow) @Html.DisplayFor(modelItem => item.LadyaRow)
                        </div>
                        <div>
                            @Html.DisplayNameFor(model => model.LadyaSail) @Html.DisplayFor(modelItem => item.LadyaSail)
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DisplayNameFor(model => model.Yacht) @Html.DisplayFor(modelItem => item.Yacht)
                        </div>
                        <div>
                            @Html.DisplayNameFor(model => model.Shvertbot) @Html.DisplayFor(modelItem => item.Shvertbot)
                        </div>
                        <div>
                            @Html.DisplayNameFor(model => model.SailboatStudy) @Html.DisplayFor(modelItem => item.SailboatStudy)
                        </div>
                        <div>
                            @Html.DisplayNameFor(model => model.SailboatHistorical) @Html.DisplayFor(modelItem => item.SailboatHistorical)
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DisplayNameFor(model => model.MaketStudy) @Html.DisplayFor(modelItem => item.MaketStudy)
                        </div>
                        <div>
                            @Html.DisplayNameFor(model => model.MaketCinema) @Html.DisplayFor(modelItem => item.MaketCinema)
                        </div>
                        <div>
                            @Html.DisplayNameFor(model => model.MaketMuseum) @Html.DisplayFor(modelItem => item.MaketMuseum)
                        </div>
                        <div>
                            @Html.DisplayNameFor(model => model.MaketDesign) @Html.DisplayFor(modelItem => item.MaketDesign)
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.DisplayNameFor(model => model.KaterProject) @Html.DisplayFor(modelItem => item.KaterProject)
                        </div>
                        <div>
                            @Html.DisplayNameFor(model => model.LadyaProject) @Html.DisplayFor(modelItem => item.LadyaProject)
                        </div>
                        <div>
                            @Html.DisplayNameFor(model => model.SailboatProject) @Html.DisplayFor(modelItem => item.SailboatProject)
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="13">@Html.DisplayNameFor(model => model.Description)</td>
        </tr>
        <tr>
            <td colspan="13">
                @Html.Raw(item.Description)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Схема
            </td>
            <td colspan="4">
                <img width="120" height="120" src="@Url.Action("ProjectImageRender", new { id = item.ProjectID, fot = "sheme"})">
            </td>
            <td colspan="2">
                Основная фотка
            </td>
            <td colspan="5">
                <img width="120" height="120" src="@Url.Action("ProjectImageRender", new { id = item.ProjectID, fot = "main"})">
            </td>
        </tr>
        <tr><td colspan="13">@await Component.InvokeAsync("ProjectFoto", new { shipProjectId = item.ProjectID })</td></tr>
        <tr>
            <td colspan="13">
                <a asp-action="Edit" asp-route-id="@item.ProjectID">Редактировать проект</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectID">Удалить проект</a>
            </td>
        </tr>
    </table>
    <br />
    <br />
    <br />
}