@model Varyag.Models.News

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />

<form asp-action="SaveTempFoto" asp-route-fotoType="short" id="fotoEditorForm" enctype="multipart/form-data">
    <div class="newsFotoEditor">
        <div style="grid-area:loader">
            <input type="file" name="newsFoto" required /><br />
            <select name="fotoType" asp-items="@new  SelectList(Enum.GetValues(typeof(NewsFotoType)))" style="display:block"></select>
            <input type="button" id="NewsFotoUpload" value="Загрузить" />
        </div>
        <div id="editorShort" class="editor">
           <div class="partNewsElementViewShort">
                <div class="annotation">
                    <div class="annotationText" id="shortFotoNewsText">
                        @ViewBag.Editor.shortStory
                    </div>
                </div>
            </div>
            <div class="newsFotoEditorControls">
                <div id="top" class="controlGroup">
                    <div class="controlGroup">
                        <div>Ось Х</div>
                        <input type="range" name="shortFotoX" id="shortFotoX" value="@ViewBag.Editor.shortFotoX" min="0" max="100" class="axisControl" oninput="FotoAttrChange('short')" />
                    </div>
                    <div class="controlGroup">
                        <div>Ось Y</div>
                        <input type="range" name="shortFotoY" id="shortFotoY" value="@ViewBag.Editor.shortFotoY" min="0" max="100" class="axisControl" oninput="FotoAttrChange('short')" />
                    </div>
                    <div class="controlGroup">
                        <div>Масштаб</div>
                        <input type="range" name="shortFotoScale" id="shortFotoScale" value="@ViewBag.Editor.shortFotoScale" min="50" max="300" class="axisControl" oninput="FotoAttrChange('short')" />
                    </div>
                </div>
                <textarea rows="6" cols="30" name="shortStory" id="shortFotoText" onkeyup="FotoTextChange('short')"></textarea>
            </div>
        </div>

        <div id="editorMiddle" class="editor">
            <div class="partNewsElementViewMiddle">
                <div class="annotation">
                    <div class="annotationText" id="middleFotoNewsText">
                        @ViewBag.Editor.middleStory
                    </div>
                </div>
            </div>
            <div class="newsFotoEditorControls">
                <div id="top" class="controlGroup">
                    <div class="controlGroup">
                        <div>Ось Х</div>
                        <input type="range" name="middleFotoX" id="middleFotoX" value="@ViewBag.Editor.middleFotoX" min="0" max="100" class="axisControl" oninput="FotoAttrChange('middle')" />
                    </div>
                    <div class="controlGroup">
                        <div>Ось Y</div>
                        <input type="range" name="middleFotoY" id="middleFotoY" value="@ViewBag.Editor.middleFotoY" min="0" max="100" class="axisControl" oninput="FotoAttrChange('middle')" />
                    </div>
                    <div class="controlGroup">
                        <div>Масштаб</div>
                        <input type="range" name="middleFotoScale" id="middleFotoScale" value="@ViewBag.Editor.middleFotoScale" min="50" max="300" class="axisControl" oninput="FotoAttrChange('middle')" />
                    </div>
                </div>
                <textarea rows="6" cols="30" name="middleStory" id="middleFotoText" onkeyup="FotoTextChange('middle')"></textarea>
            </div>
        </div>
        <div id="editorWide" class="editor">
            <div class="partNewsElementViewWide">
                <div class="annotation">
                    <div class="annotationText" id="wideFotoNewsText">
                        @ViewBag.Editor.wideStory
                    </div>
                </div>
            </div>
            <div class="newsFotoEditorControls">
                <div id="top" class="controlGroup">
                    <div class="controlGroup">
                        <div>Ось Х</div>
                        <input type="range" name="wideFotoX" id="wideFotoX" value="@ViewBag.Editor.wideFotoX" min="0" max="100" class="axisControl" oninput="FotoAttrChange('wide')" />
                    </div>
                    <div class="controlGroup">
                        <div>Ось Y</div>
                        <input type="range" name="wideFotoY" id="wideFotoY" value="@ViewBag.Editor.wideFotoY" min="0" max="100" class="axisControl" oninput="FotoAttrChange('wide')" />
                    </div>
                    <div class="controlGroup">
                        <div>Масштаб</div>
                        <input type="range" name="wideFotoScale" id="wideFotoScale" value="@ViewBag.Editor.wideFotoScale" min="50" max="300" class="axisControl" oninput="FotoAttrChange('wide')" />
                    </div>
                </div>
                <textarea rows="6" cols="30" name="wideStory" id="wideFotoText" onkeyup="FotoTextChange('wide')"></textarea>
            </div>
        </div>
    </div>
</form>
<form asp-action="Create" enctype="multipart/form-data" style="display:flex;flex-direction:column;margin:2vw">
    <div style="width:74vw">
        <div>Заголовок, для главного вида новости</div>
        <input asp-for="Header" class="form-control" required />
    </div>
    <div style="display:flex;align-items:center">
        <div style="margin-right:20px">
            <div>Основной текст новости</div>
            <textarea asp-for="MainStory" id="mce"></textarea>
        </div>
        <div style="display:flex;flex-direction:column;justify-content:space-between;height:210px">
            <div>
                <div>Подраздел новости</div>
                <select asp-for="KeyWord" asp-items="@new  SelectList(Enum.GetValues(typeof(NewsKeyWord)))"></select>
            </div>
            <div>
                <div>Фотографии в галерею</div>
                <input type="file" name="newsGallery" multiple required />
            </div>
            <div>
                <div>Дата новости (xx.xx.xxxx)</div>
                <input asp-for="NewsDate" pattern="\d{2}[.]\d{2}[.]\d{4}" required />
            </div>
        </div>
    </div>

    <div hidden>
        <input asp-for="ShortImgScale" value="@ViewBag.Editor.shortFotoScale" id="ShortImgScale" />
        <input asp-for="ShortImgX" value="@ViewBag.Editor.shortFotoX" id="ShortImgX" />
        <input asp-for="ShortImgY" value="@ViewBag.Editor.shortFotoY" id="ShortImgY" />
        <input asp-for="ShortStory" value="@ViewBag.Editor.shortStory" id="ShortStory" />
        <input asp-for="MiddleImgScale" value="@ViewBag.Editor.middleFotoScale" id="MiddleImgScale" />
        <input asp-for="MiddleImgX" value="@ViewBag.Editor.middleFotoX" id="MiddleImgX" />
        <input asp-for="MiddleImgY" value="@ViewBag.Editor.middleFotoY" id="MiddleImgY" />
        <input asp-for="MiddleStory" value="@ViewBag.Editor.middleStory" id="MiddleStory" />
        <input asp-for="WideImgScale" value="@ViewBag.Editor.wideFotoScale" id="WideImgScale" />
        <input asp-for="WideImgX" value="@ViewBag.Editor.wideFotoX" id="WideImgX" />
        <input asp-for="WideImgY" value="@ViewBag.Editor.wideFotoY" id="WideImgY" />
        <input asp-for="WideStory" value="@ViewBag.Editor.wideStory" id="WideStory" />
    </div>
    <div style="display:flex;">
        <input type="button" value="Сохранить данные из редактора" id="saveEditorParams" style="width:300px" />
        <input type="submit" id="newsSaveButton" value="Сохранить новость" style="width:200px;" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

