@model Varyag.Models.News

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />

<form asp-action="SaveTempFoto" asp-route-actionType="create" asp-route-oldNewsDate="@ViewBag.oldNewsDate" id="fotoEditorForm" enctype="multipart/form-data">
    <div class="newsFotoEditor" style="flex-direction:column;">
        <div style="grid-area:loader">
            <input type="file" name="newsFoto" required /><br />
            <select name="fotoType" asp-items="@new  SelectList(Enum.GetValues(typeof(NewsFotoType)))" style="display:block"></select>
            <input type="button" id="newsFotoUpload" value="Загрузить" />
        </div>
        <div id="editorShort" class="editor">
           <div class="partNewsElementViewShort" id="creator">
                <div class="annotation">
                    <div class="annotationText" id="shortFotoNewsText">
                        @ViewBag.RefreshEditor.shortStory
                    </div>
                </div>
            </div>
            <div class="newsFotoEditorControls">
                <div id="top" class="controlGroup">
                    <div class="controlGroup">
                        <div>Ось Х</div>
                        <input type="range" name="shortFotoX" id="shortFotoX" value="@ViewBag.RefreshEditor.shortFotoX" min="0" max="100" class="axisControl" oninput="FotoAttrChange('short')" />
                    </div>
                    <div class="controlGroup">
                        <div>Ось Y</div>
                        <input type="range" name="shortFotoY" id="shortFotoY" value="@ViewBag.RefreshEditor.shortFotoY" min="0" max="100" class="axisControl" oninput="FotoAttrChange('short')" />
                    </div>
                    <div class="controlGroup">
                        <div>Масштаб</div>
                        <input type="range" name="shortFotoScale" id="shortFotoScale" value="@ViewBag.RefreshEditor.shortFotoScale" min="50" max="300" class="axisControl" oninput="FotoAttrChange('short')" />
                    </div>
                </div>
                <textarea rows="6" cols="30" maxlength="55" name="shortStory" id="shortFotoText" onkeyup="FotoTextChange('short')"></textarea>
            </div>
        </div>

        <div id="editorMiddle" class="editor">
            <div class="partNewsElementViewMiddle" id="creator">
                <div class="annotation">
                    <div class="annotationText" id="middleFotoNewsText">
                        @ViewBag.RefreshEditor.middleStory
                    </div>
                </div>
            </div>
            <div class="newsFotoEditorControls">
                <div id="top" class="controlGroup">
                    <div class="controlGroup">
                        <div>Ось Х</div>
                        <input type="range" name="middleFotoX" id="middleFotoX" value="@ViewBag.RefreshEditor.middleFotoX" min="0" max="100" class="axisControl" oninput="FotoAttrChange('middle')" />
                    </div>
                    <div class="controlGroup">
                        <div>Ось Y</div>
                        <input type="range" name="middleFotoY" id="middleFotoY" value="@ViewBag.RefreshEditor.middleFotoY" min="0" max="100" class="axisControl" oninput="FotoAttrChange('middle')" />
                    </div>
                    <div class="controlGroup">
                        <div>Масштаб</div>
                        <input type="range" name="middleFotoScale" id="middleFotoScale" value="@ViewBag.RefreshEditor.middleFotoScale" min="50" max="300" class="axisControl" oninput="FotoAttrChange('middle')" />
                    </div>
                </div>
                <textarea rows="6" cols="30" maxlength="90" name="middleStory" id="middleFotoText" onkeyup="FotoTextChange('middle')"></textarea>
            </div>
        </div>
        <div id="editorWide" class="editor">
            <div class="partNewsElementViewWide" id="creator">
                <div class="annotation">
                    <div class="annotationText" id="wideFotoNewsText">
                        @ViewBag.RefreshEditor.wideStory
                    </div>
                </div>
            </div>
            <div class="newsFotoEditorControls">
                <div id="top" class="controlGroup">
                    <div class="controlGroup">
                        <div>Ось Х</div>
                        <input type="range" name="wideFotoX" id="wideFotoX" value="@ViewBag.RefreshEditor.wideFotoX" min="0" max="100" class="axisControl" oninput="FotoAttrChange('wide')" />
                    </div>
                    <div class="controlGroup">
                        <div>Ось Y</div>
                        <input type="range" name="wideFotoY" id="wideFotoY" value="@ViewBag.RefreshEditor.wideFotoY" min="0" max="100" class="axisControl" oninput="FotoAttrChange('wide')" />
                    </div>
                    <div class="controlGroup">
                        <div>Масштаб</div>
                        <input type="range" name="wideFotoScale" id="wideFotoScale" value="@ViewBag.RefreshEditor.wideFotoScale" min="50" max="300" class="axisControl" oninput="FotoAttrChange('wide')" />
                    </div>
                </div>
                <textarea asp-for="WideStory" rows="6" cols="30" maxlength="90" id="wideFotoText" onkeyup="FotoTextChange('wide')"></textarea>
            </div>
            <div hidden>
                <input type="text" id="headerRefresh" name="headerRefresh" />
                <input type="text" id="keyWordRefresh" name="keyWordRefresh" />
                <input type="text" id="newsDateRefresh" name="newsDateRefresh" />
            </div>
        </div>
    </div>
</form>
<form asp-action="Create" enctype="multipart/form-data" style="display:flex;flex-direction:column;margin:2vw">
    <div class="newsMainForm">
        <div style="grid-area:explanation">Открываешь видео в вк или ютуб -> поделится -> экспортировать/встроить -> код для вставки -> вставляешь</div>
        <div style="width:78vw;grid-area:newsHeader">
            <div>Заголовок, для главного вида новости</div>
            <input asp-for="Header" maxlength="100" id="header" class="form-control" onkeyup="headerSave()" required />
        </div>
        <div style="margin-right:20px;grid-area:mainNewsText">
            <div>Основной текст новости</div>
            <textarea asp-for="MainStory" id="mce"></textarea>
        </div>
        <div class="empty"></div>
        <div class="mainFormSub">
            <div style="grid-area:typeOfNews;display:flex;flex-direction:column;padding-right:10px">
                <div>Подраздел новости</div>
                @if (ViewBag.RefreshEditor.keyWordRefresh != null)
                {
                    switch (ViewBag.RefreshEditor.keyWordRefresh)
                    {
                        case "Жизнь_кораблей":
                            <select asp-for="KeyWord" id="keyWord" onchange="keyWordSave()">
                                <option selected="selected">Жизнь_кораблей</option>
                                <option>СМИ</option>
                                <option>Новые_корабли</option>
                            </select>
                            break;
                        case "СМИ":
                            <select asp-for="KeyWord" id="keyWord" onchange="keyWordSave()">
                                <option>Жизнь_кораблей</option>
                                <option selected="selected">СМИ</option>
                                <option>Новые_корабли</option>
                            </select>
                            break;
                        default:
                            <select asp-for="KeyWord" id="keyWord" onchange="keyWordSave()">
                                <option>Жизнь_кораблей</option>
                                <option>СМИ</option>
                                <option selected="selected">Новые_корабли</option>
                            </select>
                            break;
                    }
                }
                else
                {
                    <select asp-for="KeyWord" id="keyWord" asp-items="@new  SelectList(Enum.GetValues(typeof(NewsKeyWord)))" onchange="keyWordSave()"></select>
                }
            </div>
            <div style="grid-area:galleryFotos;display:flex;flex-direction:column;padding-right:10px">
                <div>Фотографии в галерею</div>
                <input type="file" name="newsGallery" multiple />
            </div>
            <div style="grid-area:dateOfNews;display:flex;flex-direction:column;padding-right:10px">
                <div>Дата новости (xx.xx.xxxx)</div>
                @if (ViewBag.RefreshEditor.newsDateRefresh != null)
                {
                    <input asp-for="NewsDate" id="newsDate" value="@ViewBag.RefreshEditor.newsDateRefresh" pattern="\d{2}[.]\d{2}[.]\d{4}" onkeyup="newsDateSave()" required />
                }
                else
                {
                    <input asp-for="NewsDate" id="newsDate" pattern="\d{2}[.]\d{2}[.]\d{4}" onkeyup="newsDateSave()" required />
                }
            </div>
            <div style="grid-area:newsVideo1;display:flex;flex-direction:column">
                <div>Путь к первму видео</div>
                <input asp-for="PathToVideo1" />
            </div>
            <div style="grid-area:newsVideo2;display:flex;flex-direction:column">
                <div>Путь к второму видео</div>
                <input asp-for="PathToVideo2" />
            </div>
            <div style="grid-area:newsVideo3;display:flex;flex-direction:column">
                <div>Путь к третьему видео</div>
                <input asp-for="PathToVideo3" />
            </div>
            <div style="display:flex;flex-direction:column;grid-area:linkedProjects">
                <div>Подключите новость к проектам</div>
                <div style="display:flex;justify-content:flex-start;width:100%;">@await Component.InvokeAsync("LinkToProject")</div>
                <div style="display:flex;flex-direction:column;" id="LinkedProjectsList">
                </div>
            </div>
        </div>
    </div>

    <div hidden>
        <input asp-for="ShortImgScale" value="@ViewBag.RefreshEditor.shortFotoScale" id="ShortImgScale" />
        <input asp-for="ShortImgX" value="@ViewBag.RefreshEditor.shortFotoX" id="ShortImgX" />
        <input asp-for="ShortImgY" value="@ViewBag.RefreshEditor.shortFotoY" id="ShortImgY" />
        <input asp-for="ShortStory" value="@ViewBag.RefreshEditor.shortStory" id="ShortStory" />
        <input asp-for="MiddleImgScale" value="@ViewBag.RefreshEditor.middleFotoScale" id="MiddleImgScale" />
        <input asp-for="MiddleImgX" value="@ViewBag.RefreshEditor.middleFotoX" id="MiddleImgX" />
        <input asp-for="MiddleImgY" value="@ViewBag.RefreshEditor.middleFotoY" id="MiddleImgY" />
        <input asp-for="MiddleStory" value="@ViewBag.RefreshEditor.middleStory" id="MiddleStory" />
        <input asp-for="WideImgScale" value="@ViewBag.RefreshEditor.wideFotoScale" id="WideImgScale" />
        <input asp-for="WideImgX" value="@ViewBag.RefreshEditor.wideFotoX" id="WideImgX" />
        <input asp-for="WideImgY" value="@ViewBag.RefreshEditor.wideFotoY" id="WideImgY" />
        <input asp-for="WideStory" value="@ViewBag.RefreshEditor.wideStory" id="WideStory" />
        <input asp-for="LinkedProjectNames" id="LinkedProjectNames" />
    </div>
    <div style="display:flex;">
        <input type="button" value="Сохранить данные из редактора" id="saveEditorParams" style="width:300px" />
        <input type="submit" id="newsSaveButton" value="Сохранить новость" style="width:200px;" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

