@model Varyag.Models.News

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>News</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Header)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Header)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortStory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortStory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainStory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainStory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KeyWord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KeyWord)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsMainFoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsMainFoto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NewsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
