@model Varyag.Models.News

@{
    ViewData["Title"] = "Редактировать";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<form asp-action="SaveTempFoto" asp-route-actionType="Edit" asp-route-newId="@Model.NewsId" asp-route-newsDate="@Model.NewsDate" id="fotoEditorForm" enctype="multipart/form-data">
    <div class="newsFotoEditor">
        <div style="grid-area:loader">
            <input type="file" name="newsFoto" required /><br />
            <select name="fotoType" asp-items="@new  SelectList(Enum.GetValues(typeof(NewsFotoType)))" style="display:block"></select>
            <input type="button" id="newsFotoUpload" value="Загрузить" />
        </div>
        <div id="editorShort" class="editor">
            <div class="partNewsElementViewShort" id="editor" style="background-image:url(@Model.ShortFotoPreview);background-position-x:@Model.ShortImgX;background-position-y:@Model.ShortImgY;background-size:@Model.ShortImgScale;">
                <div class="annotation">
                    <div class="annotationText" id="shortFotoNewsText">
                        @if (ViewBag.ShortStory == null)
                        {
                            @Model.ShortStory
                        }
                        else
                        {
                            @ViewBag.ShortStory
                        }
                    </div>
                </div>
            </div>
            <div class="newsFotoEditorControls">
                <div id="top" class="controlGroup">
                    <div class="controlGroup">
                        <div>Ось Х</div>
                        @if (ViewBag.RefreshEditor.shortFotoX == null)
                        {
                            <input type="range" name="shortFotoX" id="shortFotoX" value="@ViewBag.ShortImgX" min="0" max="100" class="axisControl" oninput="FotoAttrChange('short')" />
                        }
                        else
                        {
                            <input type="range" name="shortFotoX" id="shortFotoX" value="@ViewBag.RefreshEditor.shortFotoX" min="0" max="100" class="axisControl" oninput="FotoAttrChange('short')" />
                        }
                        @*<input type="range" name="shortFotoX" id="shortFotoX" value="@ViewBag.ShortImgX" min="0" max="100" class="axisControl" oninput="FotoAttrChange('short')" />*@
                    </div>
                    <div class="controlGroup">
                        <div>Ось Y</div>
                        @if (ViewBag.RefreshEditor.shortFotoY == null)
                        {
                            <input type="range" name="shortFotoY" id="shortFotoY" value="@ViewBag.ShortImgY" min="0" max="100" class="axisControl" oninput="FotoAttrChange('short')" />
                        }
                        else
                        {
                            <input type="range" name="shortFotoY" id="shortFotoY" value="@ViewBag.RefreshEditor.shortFotoY" min="0" max="100" class="axisControl" oninput="FotoAttrChange('short')" />
                        }
                        @*<input type="range" name="shortFotoY" id="shortFotoY" value="@ViewBag.ShortImgY" min="0" max="100" class="axisControl" oninput="FotoAttrChange('short')" />*@
                    </div>
                    <div class="controlGroup">
                        <div>Масштаб</div>
                        @if (ViewBag.RefreshEditor.shortFotoScale == null)
                        {
                            <input type="range" name="shortFotoScale" id="shortFotoScale" value="@ViewBag.ShortImgScale" min="50" max="300" class="axisControl" oninput="FotoAttrChange('short')" />
                        }
                        else
                        {
                            <input type="range" name="shortFotoScale" id="shortFotoScale" value="@ViewBag.RefreshEditor.shortFotoScale" min="50" max="300" class="axisControl" oninput="FotoAttrChange('short')" />
                        }
                        @*<input type="range" name="shortFotoScale" id="shortFotoScale" value="@ViewBag.ShortImgScale" min="50" max="300" class="axisControl" oninput="FotoAttrChange('short')" />*@
                    </div>
                </div>
                <textarea rows="6" cols="30" maxlength="55" asp-for="ShortStory" id="shortFotoText" onkeyup="FotoTextChange('short')"></textarea>
            </div>
        </div>

        <div id="editorMiddle" class="editor">
            <div class="partNewsElementViewMiddle" id="editor" style="background-image:url(@Model.MiddleFotoPreview);background-position-x:@Model.MiddleImgX;background-position-y:@Model.MiddleImgY;background-size:@Model.MiddleImgScale;">
                <div class="annotation">
                    <div class="annotationText" id="middleFotoNewsText">
                        @if (ViewBag.MiddleStory == null)
                        {
                            @Model.MiddleStory
                        }
                        else
                        {
                            @ViewBag.MiddleStory
                        }
                    </div>
                </div>
            </div>
            <div class="newsFotoEditorControls">
                <div id="top" class="controlGroup">
                    <div class="controlGroup">
                        <div>Ось Х</div>
                        @if (ViewBag.RefreshEditor.middleFotoX == null)
                        {
                            <input type="range" name="middleFotoX" id="middleFotoX" value="@ViewBag.MiddleImgX" min="0" max="100" class="axisControl" oninput="FotoAttrChange('middle')" />
                        }
                        else
                        {
                            <input type="range" name="middleFotoX" id="middleFotoX" value="@ViewBag.RefreshEditor.middleFotoX" min="0" max="100" class="axisControl" oninput="FotoAttrChange('middle')" />
                        }
                        @*<input type="range" name="middleFotoX" id="middleFotoX" value="@ViewBag.MiddleImgX" min="0" max="100" class="axisControl" oninput="FotoAttrChange('middle')" />*@
                    </div>
                    <div class="controlGroup">
                        <div>Ось Y</div>
                        @if (ViewBag.RefreshEditor.middleFotoY == null)
                        {
                            <input type="range" name="middleFotoY" id="middleFotoY" value="@ViewBag.MiddleImgY" min="0" max="100" class="axisControl" oninput="FotoAttrChange('middle')" />
                        }
                        else
                        {
                            <input type="range" name="middleFotoY" id="middleFotoY" value="@ViewBag.RefreshEditor.middleFotoY" min="0" max="100" class="axisControl" oninput="FotoAttrChange('middle')" />
                        }
                        @*<input type="range" name="middleFotoY" id="middleFotoY" value="@ViewBag.MiddleImgY" min="0" max="100" class="axisControl" oninput="FotoAttrChange('middle')" />*@
                    </div>
                    <div class="controlGroup">
                        <div>Масштаб</div>
                        @if (ViewBag.RefreshEditor.middleFotoScale == null)
                        {
                            <input type="range" name="middleFotoScale" id="middleFotoScale" value="@ViewBag.MiddleImgScale" min="50" max="300" class="axisControl" oninput="FotoAttrChange('middle')" />
                        }
                        else
                        {
                            <input type="range" name="middleFotoScale" id="middleFotoScale" value="@ViewBag.RefreshEditor.middleFotoScale" min="50" max="300" class="axisControl" oninput="FotoAttrChange('middle')" />
                        }
                        @*<input type="range" name="middleFotoScale" id="middleFotoScale" value="@ViewBag.MiddleImgScale" min="50" max="300" class="axisControl" oninput="FotoAttrChange('middle')" />*@
                    </div>
                </div>
                <textarea rows="6" cols="30" maxlength="55" id="middleFotoText" asp-for="MiddleStory" onkeyup="FotoTextChange('middle')"></textarea>
            </div>
        </div>
        <div id="editorWide" class="editor">
            <div class="partNewsElementViewWide" id="editor" style="background-image:url(@Model.WideFotoPreview);background-position-x:@Model.WideImgX;background-position-y:@Model.WideImgY;background-size:@Model.WideImgScale;">
                <div class="annotation">
                    <div class="annotationText" id="wideFotoNewsText">
                        @if (ViewBag.WideStory == null)
                        {
                            @Model.WideStory
                        }
                        else
                        {
                            @ViewBag.WideStory
                        }
                    </div>
                </div>
            </div>
            <div class="newsFotoEditorControls">
                <div id="top" class="controlGroup">
                    <div class="controlGroup">
                        <div>Ось Х</div>
                        @if (ViewBag.RefreshEditor.wideFotoX == null)
                        {
                            <input type="range" name="wideFotoX" id="wideFotoX" value="@ViewBag.WideImgX" min="0" max="100" class="axisControl" oninput="FotoAttrChange('wide')" />
                        }
                        else
                        {
                            <input type="range" name="wideFotoX" id="wideFotoX" value="@ViewBag.RefreshEditor.wideFotoX" min="0" max="100" class="axisControl" oninput="FotoAttrChange('wide')" />
                        }
                        @*<input type="range" name="wideFotoX" id="wideFotoX" value="@ViewBag.WideImgX" min="0" max="100" class="axisControl" oninput="FotoAttrChange('wide')" />*@
                    </div>
                    <div class="controlGroup">
                        <div>Ось Y</div>
                        @if (ViewBag.RefreshEditor.wideFotoY == null)
                        {
                            <input type="range" name="wideFotoY" id="wideFotoY" value="@ViewBag.WideImgY" min="0" max="100" class="axisControl" oninput="FotoAttrChange('wide')" />
                        }
                        else
                        {
                            <input type="range" name="wideFotoY" id="wideFotoY" value="@ViewBag.RefreshEditor.wideFotoY" min="0" max="100" class="axisControl" oninput="FotoAttrChange('wide')" />
                        }
                        @*<input type="range" name="wideFotoY" id="wideFotoY" value="@ViewBag.WideImgY" min="0" max="100" class="axisControl" oninput="FotoAttrChange('wide')" />*@
                    </div>
                    <div class="controlGroup">
                        <div>Масштаб</div>
                        @if (ViewBag.RefreshEditor.wideFotoScale == null)
                        {
                            <input type="range" name="wideFotoScale" id="wideFotoScale" value="@ViewBag.WideImgScale" min="50" max="300" class="axisControl" oninput="FotoAttrChange('wide')" />
                        }
                        else
                        {
                            <input type="range" name="wideFotoScale" id="wideFotoScale" value="@ViewBag.RefreshEditor.wideFotoScale" min="50" max="300" class="axisControl" oninput="FotoAttrChange('wide')" />
                        }
                        @*<input type="range" name="wideFotoScale" id="wideFotoScale" value="@ViewBag.WideImgScale" min="50" max="300" class="axisControl" oninput="FotoAttrChange('wide')" />*@
                    </div>
                </div>
                <textarea rows="6" cols="30" maxlength="90" id="wideFotoText" asp-for="WideStory" onkeyup="FotoTextChange('wide')"></textarea>
            </div>
        </div>
    </div>
</form>
<form asp-action="Edit" asp-route-oldNewsDate="@ViewBag.oldNewsDate" enctype="multipart/form-data" style="display:flex;flex-direction:column;margin:2vw">
    <div style="width:74vw">
        <div>Заголовок, для главного вида новости</div>
        <input asp-for="Header" class="form-control" required />
    </div>
    <div style="display:flex;align-items:center">
        <div style="margin-right:20px">
            <div>Основной текст новости</div>
            <textarea asp-for="MainStory" id="mce"></textarea>
        </div>
        <div style="display:flex;flex-direction:column;justify-content:space-between;height:210px">
            <div>
                <div>Подраздел новости</div>
                <select asp-for="KeyWord" asp-items="@new  SelectList(Enum.GetValues(typeof(NewsKeyWord)))"></select>
            </div>
            <div>
                <div>Фотографии в галерею</div>
                <input type="file" name="newsGallery" multiple />
            </div>
            <div>
                <div>Дата новости (xx.xx.xxxx)</div>
                <input asp-for="NewsDate" pattern="\d{2}[.]\d{2}[.]\d{4}" required />
            </div>
        </div>
    </div>

    <div hidden>
        <input asp-for="ShortImgScale" value="@Model.ShortImgScale" id="ShortImgScale" />
        <input asp-for="ShortImgX" value="@Model.ShortImgX" id="ShortImgX" />
        <input asp-for="ShortImgY" value="@Model.ShortImgY" id="ShortImgY" />
        <input asp-for="ShortStory" value="@Model.ShortStory" id="ShortStory" />
        <input asp-for="MiddleImgScale" value="@Model.MiddleImgScale" id="MiddleImgScale" />
        <input asp-for="MiddleImgX" value="@Model.MiddleImgX" id="MiddleImgX" />
        <input asp-for="MiddleImgY" value="@Model.MiddleImgY" id="MiddleImgY" />
        <input asp-for="MiddleStory" value="@Model.MiddleStory" id="MiddleStory" />
        <input asp-for="WideImgScale" value="@Model.WideImgScale" id="WideImgScale" />
        <input asp-for="WideImgX" value="@Model.WideImgX" id="WideImgX" />
        <input asp-for="WideImgY" value="@Model.WideImgY" id="WideImgY" />
        <input asp-for="WideStory" value="@Model.WideStory" id="WideStory" />
        <input asp-for="PathToGallery" value="@Model.PathToGallery" />
        <input asp-for="ShortFotoPreview" value="@Model.ShortFotoPreview" />
        <input asp-for="MiddleFotoPreview" value="@Model.MiddleFotoPreview" />
        <input asp-for="WideFotoPreview" value="@Model.WideFotoPreview" />
        <input asp-for="NewsId" />
    </div>
    <div style="display:flex;">
        <input type="button" value="Сохранить данные из редактора" id="saveEditorParams" style="width:300px" />
        <input type="submit" id="newsSaveButton" value="Сохранить новость" style="width:200px;" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

