@model IEnumerable<Varyag.Models.News>

@{
    ViewData["Title"] = "Новости";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Новости</h1>

<p>
    <a asp-action="Create">Создать новость</a>
</p>

@foreach (var item in Model)
{
    <div class="partNews" style="justify-content:flex-start">
        <div id="one" class="partNewsElement">
            <div class="annotation">
                <div class="annotationText" id="shortStory">
                    @Html.Raw(item.ShortStory)
                </div>
                <div class="annotationText" id="middleStory" style="display:none">
                    @Html.Raw(item.MiddleStory)
                </div>
                <div class="annotationText" id="wideStory" style="display:none">
                    @Html.Raw(item.WideStory)
                </div>
            </div>
        </div>
    </div>
    <div style="margin:1vw">
        <input type="button" value="Развернутый вид" style="margin:1vw" id="showFullNewsPreview" />
        <div class="MyContainer" id="fullNewsPreview">
            <h2>@item.Header</h2>
            <div>@Html.Raw(item.MainStory)</div>
            <div class="fotorama" data-nav="thumbs" data-width="100%" data-fit="contain" data-allowfullscreen="native">
                @await Component.InvokeAsync("Fotorama", new { newsId = item.NewsId })
            </div>
        </div>
        <p>
            <a asp-action="Edit" asp-route-id="@item.NewsId">Редактировать проект</a> |
            <a asp-action="Delete" asp-route-id="@item.NewsId">Удалить проект</a>
        </p>
    </div>
}
