@model IEnumerable<Varyag.Models.News>
@{
    ViewData["Title"] = "Новости";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Новости</h1>

<p>
    <a asp-action="Create">Создать новость</a>
</p>

@for (int i = 0; i < Model.Count(); i++)
{
    <div id="news" class="about">
        <div class="headerAbout">
            <div class="borderAbout"></div>
            <div>Отследить события из нашей жизни и жизни наших кораблей можно в разделе новостей.</div>
            <div class="borderAbout"></div>
        </div>
        <div class="partNews" id="shortStory">
            <div class="partNewsElement" style="background-image:url(@Model.ElementAt(i).ShortFotoPreview);background-position-x:@Model.ElementAt(i).ShortImgX;background-position-y:@Model.ElementAt(i).ShortImgY;background-size:@Model.ElementAt(i).ShortImgScale auto;background-repeat:no-repeat;">
                <div class="annotation">
                    <div class="annotationText">
                        @Html.Raw(Model.ElementAt(i).ShortStory)
                    </div>
                </div>
            </div>
            <div id="partNewsElementShort" class="partNewsElement" style="background-image:url(@Model.ElementAt(i).ShortFotoPreview);background-position-x:@Model.ElementAt(i).ShortImgX;background-position-y:@Model.ElementAt(i).ShortImgY;background-size:@Model.ElementAt(i).ShortImgScale auto;background-repeat:no-repeat;margin-right:2vw;">
                <div class="annotation">
                    <div class="annotationText">
                        @Html.Raw(Model.ElementAt(i).ShortStory)
                    </div>
                </div>
            </div>
            <div class="partNewsElement" style="background-image:url(@Model.ElementAt(i).ShortFotoPreview);background-position-x:@Model.ElementAt(i).ShortImgX;background-position-y:@Model.ElementAt(i).ShortImgY;background-size:@Model.ElementAt(i).ShortImgScale auto;background-repeat:no-repeat;">
                <div class="annotation">
                    <div class="annotationText">
                        @Html.Raw(Model.ElementAt(i).ShortStory)
                    </div>
                </div>
            </div>
        </div>
        <div class="partNews" id="middleStory">
            <div class="partNewsElement" style="background-image:url(@Model.ElementAt(i).MiddleFotoPreview);background-position-x:@Model.ElementAt(i).MiddleImgX;background-position-y:@Model.ElementAt(i).MiddleImgY;background-size:@Model.ElementAt(i).MiddleImgScale auto;background-repeat:no-repeat;">
                <div class="annotation">
                    <div class="annotationText">
                        @Html.Raw(Model.ElementAt(i).MiddleStory)
                    </div>
                </div>
            </div>
        </div>
        <div class="partNews" id="wideStory">
            <div class="partNewsElement" style="background-image:url(@Model.ElementAt(i).WideFotoPreview);background-position-x:@Model.ElementAt(i).WideImgX;background-position-y:@Model.ElementAt(i).WideImgY;background-size:@Model.ElementAt(i).WideImgScale auto;background-repeat:no-repeat;">
                <div class="annotation">
                    <div class="annotationText">
                        @Html.Raw(Model.ElementAt(i).WideStory)
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div style="margin:1vw">
        <input type="button" name="showHideButton" value="Развернутый вид" id="@i" />
        <div class="MyContainer" id="@i" style="display:none">
            <h2>@Model.ElementAt(i).Header</h2>
            <div>@Html.Raw(Model.ElementAt(i).MainStory)</div>
            <div class="fotorama" data-nav="thumbs" data-width="100%" data-fit="contain" data-allowfullscreen="native">
                @await Component.InvokeAsync("Fotorama", new { newsId = Model.ElementAt(i).NewsId })
            </div>
        </div>
        <p>
            <a asp-action="Edit" asp-route-id="@Model.ElementAt(i).NewsId">Редактировать проект</a> |
            <a asp-action="Delete" asp-route-id="@Model.ElementAt(i).NewsId">Удалить проект</a>
        </p>
    </div>
    <div class="myBorder"></div>
}
<div style="margin:1vw">
    @for (int i = 1; i <= ViewBag.Pages; i++)
    {
        <a asp-action="Index" asp-route-page="@i"><span style="color:red;text-decoration:dotted">@i </span></a>
    }
</div>
