@model List<Varyag.Models.NewsViewModel>


<div id="news" class="about">
    <a asp-action="AllNews">
        <div class="headerAbout">
            <div class="borderAbout"></div>
            <div>Отследить события из нашей жизни и жизни наших кораблей можно в разделе новостей.</div>
            <div class="borderAbout"></div>
        </div>
    </a>
    <div class="partNews" id="shortStory">
        <a asp-action="NewsDetails" asp-route-id="@Model.ElementAt(0).NewsId">
            <div class="partNewsElement" style="background-image:url(@Model.ElementAt(0).ShortFotoPreview);background-position-x:@Model.ElementAt(0).ShortImgX;background-position-y:@Model.ElementAt(0).ShortImgY;background-size:@Model.ElementAt(0).ShortImgScale auto;background-repeat:no-repeat;">
                <div class="annotation">
                    <div class="annotationText">
                        @Html.Raw(Model.ElementAt(0).ShortStory)
                    </div>
                </div>
            </div>
        </a>
        <a asp-action="NewsDetails" asp-route-id="@Model.ElementAt(1).NewsId">
            <div class="partNewsElement" id="middleElement" style="background-image:url(@Model.ElementAt(1).ShortFotoPreview);background-position-x:@Model.ElementAt(1).ShortImgX;background-position-y:@Model.ElementAt(1).ShortImgY;background-size:@Model.ElementAt(1).ShortImgScale auto;background-repeat:no-repeat;">
                <div class="annotation">
                    <div class="annotationText">
                        @Html.Raw(Model.ElementAt(1).ShortStory)
                    </div>
                </div>
            </div>
        </a>
        <a asp-action="NewsDetails" asp-route-id="@Model.ElementAt(2).NewsId">
            <div class="partNewsElement" style="background-image:url(@Model.ElementAt(2).ShortFotoPreview);background-position-x:@Model.ElementAt(2).ShortImgX;background-position-y:@Model.ElementAt(2).ShortImgY;background-size:@Model.ElementAt(2).ShortImgScale auto;background-repeat:no-repeat;">
                <div class="annotation">
                    <div class="annotationText">
                        @Html.Raw(Model.ElementAt(2).ShortStory)
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="partNews" id="middleStory">
        <a asp-action="NewsDetails" asp-route-id="@Model.ElementAt(0).NewsId">
            <div class="partNewsElement" style="background-image:url(@Model.ElementAt(0).MiddleFotoPreview);background-position-x:@Model.ElementAt(0).MiddleImgX;background-position-y:@Model.ElementAt(0).MiddleImgY;background-size:@Model.ElementAt(0).MiddleImgScale auto;background-repeat:no-repeat;">
                <div class="annotation">
                    <div class="annotationText">
                        @Html.Raw(Model.ElementAt(0).MiddleStory)
                    </div>
                </div>
            </div>
        </a>
        <a asp-action="NewsDetails" asp-route-id="@Model.ElementAt(1).NewsId">
            <div class="partNewsElement" style="background-image:url(@Model.ElementAt(1).MiddleFotoPreview);background-position-x:@Model.ElementAt(1).MiddleImgX;background-position-y:@Model.ElementAt(1).MiddleImgY;background-size:@Model.ElementAt(1).MiddleImgScale auto;background-repeat:no-repeat;">
                <div class="annotation">
                    <div class="annotationText">
                        @Html.Raw(Model.ElementAt(1).MiddleStory)
                    </div>
                </div>
            </div>
        </a>
        <a asp-action="NewsDetails" asp-route-id="@Model.ElementAt(2).NewsId">
            <div class="partNewsElement" style="background-image:url(@Model.ElementAt(2).MiddleFotoPreview);background-position-x:@Model.ElementAt(2).MiddleImgX;background-position-y:@Model.ElementAt(2).MiddleImgY;background-size:@Model.ElementAt(2).MiddleImgScale auto;background-repeat:no-repeat;">
                <div class="annotation">
                    <div class="annotationText">
                        @Html.Raw(Model.ElementAt(2).MiddleStory)
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="partNews" id="wideStory">
        <a asp-action="NewsDetails" asp-route-id="@Model.ElementAt(0).NewsId">
            <div class="partNewsElement" style="background-image:url(@Model.ElementAt(0).WideFotoPreview);background-position-x:@Model.ElementAt(0).WideImgX;background-position-y:@Model.ElementAt(0).WideImgY;background-size:@Model.ElementAt(0).WideImgScale auto;background-repeat:no-repeat;">
                <div class="annotation">
                    <div class="annotationText">
                        @Html.Raw(Model.ElementAt(0).WideStory)
                    </div>
                </div>
            </div>
        </a>
        <a asp-action="NewsDetails" asp-route-id="@Model.ElementAt(1).NewsId">
            <div class="partNewsElement" style="background-image:url(@Model.ElementAt(1).WideFotoPreview);background-position-x:@Model.ElementAt(1).WideImgX;background-position-y:@Model.ElementAt(1).WideImgY;background-size:@Model.ElementAt(1).WideImgScale auto;background-repeat:no-repeat;">
                <div class="annotation">
                    <div class="annotationText">
                        @Html.Raw(Model.ElementAt(1).WideStory)
                    </div>
                </div>
            </div>
        </a>
        <a asp-action="NewsDetails" asp-route-id="@Model.ElementAt(2).NewsId">
            <div class="partNewsElement" style="background-image:url(@Model.ElementAt(2).WideFotoPreview);background-position-x:@Model.ElementAt(2).WideImgX;background-position-y:@Model.ElementAt(2).WideImgY;background-size:@Model.ElementAt(2).WideImgScale auto;background-repeat:no-repeat;">
                <div class="annotation">
                    <div class="annotationText">
                        @Html.Raw(Model.ElementAt(2).WideStory)
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>